// BOotstrap Configuration
@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/maps";
@import "../bootstrap/mixins";
@import "../bootstrap/utilities";

// Bootstrap Layout & components
@import "../bootstrap/modal";

// Import Utility: Display
$utilities: (
  "display": (property: display,
    responsive: true,
    class: d,
    values: inline inline-block block grid table table-row table-cell flex inline-flex none),
  "order": (responsive: true,
    property: order,
    values: (first: -1,
      0: 0,
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
      last: 6,
    ),
  ),
  "margin-top": (responsive: true,
    property: margin-top,
    class: mt,
    values: map-merge($spacers, (auto: auto))),
  "margin-bottom": (responsive: true,
    property: margin-bottom,
    class: mb,
    values: map-merge($spacers, (auto: auto, 40: 2.5rem)),
  ),
  "justify-content": (responsive: true,
    property: justify-content,
    values: (start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      evenly: space-evenly,
    )),
  "align-items": (responsive: true,
    property: align-items,
    values: (start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    )),
  "text-align": (responsive: true,
    property: text-align,
    class: text,
    values: (start: left,
      end: right,
      center: center,
    )),
  // Gap utility
  "gap": (responsive: true,
    property: gap,
    class: gap,
    values: $spacers ),
  "row-gap": (responsive: true,
    property: row-gap,
    class: row-gap,
    values: $spacers ),
  "column-gap": (responsive: true,
    property: column-gap,
    class: column-gap,
    values: $spacers ),
);

// Required to run utility API
@import "../bootstrap/utilities/api";

// Transitions
@import "../bootstrap/transitions";


/* Custom styles */

// Layouts
@import "../scss/layouts";

// Buttons
@import "../scss/elements/buttons";

// Links
@import "../scss/elements/links";

// Ctas
@import "../scss/elements/ctas";

// Pills
@import "../scss/elements/pills";

//List
@import "../scss/elements/list";

//Topbar
@import "../scss/shortcodes/app_download_topbar";

//Header
@import "../scss/parts/header";

// Shortcode - Social Profiles
@import "../scss/shortcodes/social-profiles";

// Footer
@import "../scss/parts/footer";

//Table
@import "../scss/elements/table";

// Separators
@import "../scss/elements/separators";

// Containers
@import "../scss/elements/containers";

// part - Breadcrumb
@import "../scss/parts/breadcrumb";

// Template - Single Post
@import "../scss/templates/single-post";

// Card - Post
@import "../scss/elements/cards";

// Pagination
@import "../scss/elements/pagination";

// part - Sidebar
@import "../scss/parts/sidebar";

//Form
@import "../scss/elements/form";

// Modal
@import "../scss/elements/modal";