.tm-sprite-1 {
  display: inline-block;
  background-image: url(../images/sprite_set1.webp);
  height: 56px;
  width: 56px;
  background-size: calc(100% + 20px);
  background-position-x: -10px;
  background-position-y: -10px;

  &.bg-policies-issued,
  &.bg-calender,
  &.bg-branches,
  &.bg-hospitals,
  &.bg-garages {
    height: 46px;
    width: 46px;
    background-size: calc(100% + 16px);
    background-position-y: -8px;
    background-position-x: -8px;

    @media (max-width: 767.98px) {
      background-size: calc(100% + 12px);
      background-position-y: -6px;
      background-position-x: -6px;
    }
  }

  &.bg-calender {
    background-position-y: -62px;

    @media (max-width: 767.98px) {
      background-position-y: -51px;
    }
  }

  &.bg-branches {
    background-position-y: -115.7px;

    @media (max-width: 767.98px) {
      background-position-y: -96px;
    }
  }

  &.bg-hospitals {
    background-position-y: -169.5px;

    @media (max-width: 767.98px) {
      background-position-y: -141.5px;
    }
  }

  &.bg-garages {
    background-position-y: -708px;

    @media (max-width: 767.98px) {
      background-position-y: -593.5px;
    }
  }

  &.bg-chevron-down-green,
  &.bg-chevron-right-green,
  &.bg-chevron-up-green {
    height: 24px;
    width: 24px;
    background-size: calc(100% + 10px);
    background-position-y: -122px;
    background-position-x: -5px;
  }

  &.bg-chevron-right-green {
    transform: rotate(-90deg);
  }

  &.bg-chevron-up-green {
    transform: rotate(180deg);
  }

  &.bg-calendar-with-date,
  &.bg-clock-border,
  &.bg-coverage,
  &.bg-hands {
    height: 24px;
    width: 24px;
    background-position-x: -4px;
    background-position-y: -143px;
    background-size: calc(100% + 8px);

    @media (max-width: 767.98px) {
      background-position-y: -125.5px;
      height: 20px;
      width: 20px;
    }
  }

  &.bg-clock-border {
    background-position-y: -171px;

    @media (max-width: 767.98px) {
      background-position-y: -150px;
    }
  }

  &.bg-coverage {
    background-position-y: -198.5px;

    @media (max-width: 767.98px) {
      background-position-y: -174.5px;
    }
  }

  &.bg-hands {
    background-position-y: -226.5px;

    @media (max-width: 767.98px) {
      background-position-y: -198.5px;
    }
  }

  &.bg-phone-grey,
  &.bg-envelope-grey {
    height: 32px;
    width: 32px;
    background-size: calc(100% + 10px);
    background-position-x: -5px;
    background-position-y: -333px;

    @media (max-width: 767.98px) {
      width: 24px;
      height: 24px;
      background-position-y: -254px;
      background-position-x: -4px;
      background-size: calc(100% + 8px);
    }
  }

  &.bg-envelope-grey {
    background-position-y: -369px;

    @media (max-width: 767.98px) {
      background-position-y: -282px;
    }
  }

  &.bg-search {
    height: 24px;
    width: 24px;
    background-size: calc(100% + 10px);
    background-position-x: -5px;
    background-position-y: -416px;
  }

  &.bg-location-pin {
    height: 24px;
    width: 24px;
    background-size: calc(100% + 10px);
    background-position-x: -5px;
    background-position-y: -443px;
  }
}

.tm-sprite-2 {
  display: inline-block;
  background-image: url(../images/sprite_set2.webp);
  height: 145px;
  width: 180px;
  background-size: calc(100% + 20px);
  background-position-x: -10px;
  background-position-y: -10px;

  &.bg-calculator-3d {
    height: 110px;
    width: 147px;

    @media (max-width: 767.98px) {
      width: 96px;
      height: 81px;
      background-size: calc(100% + 10px);
      background-position-x: -5px;
      background-position-y: -3px;
    }
  }

  &.bg-network-hospitals {
    width: 148px;
    height: 110px;
    background-size: calc(100% + 30px);
    background-position-x: -15px;
    background-position-y: -490px;

    @media (max-width: 767.98px) {
      width: 96px;
      height: 81px;
      background-position-x: -8px;
      background-position-y: -345px;
    }
  }

  &.bg-premium-3d {
    background-position-y: -102px;
    background-position-x: -20px;
    width: 98px;
    height: 96px;
    background-size: calc(100% + 40px);

    @media (max-width: 767.98px) {
      height: 60px;
      width: 60px;
      background-size: calc(100% + 25px);
      background-position-x: -12px;
      background-position-y: -63px;
    }
  }

  &.bg-search-2 {
    height: 44px;
    width: 70px;
    background-size: calc(100% + 25px);
    background-position-x: -13px;
    background-position-y: -324px;
  }

  &.bg-certified-3d, &.bg-advise-3d, &.bg-support-3d {
    height: 45px;
    width: 45px;
    background-position-x: -20px;
    background-size: calc(100% + 40px);
  }

  &.bg-certified-3d {
    background-position-y: -331px;
  }

  &.bg-advise-3d {
    background-position-y: -379px;
  }

  &.bg-support-3d {
    background-position-y: -424px;
  }

  &-before {
    &:before {
      content: "";
      display: block;
      width: 52px;
      height: 50px;
      background-image: url(../images/sprite_set2.webp);
      background-size: calc(100% + 30px);
      background-position-x: -15px;
      background-position-y: -119px;
      position: absolute;

      @media(max-width:767.98px) {
        background-position-x: -22px;
        background-position-y: -163px;
        background-size: calc(100% + 45px);
        width: 66px;
        height: 62px;
      }
    }

    &.tm-ic-exclusions {
      &:before {
        background-size: calc(100% + 45px);
        background-position-x: -23px;
        background-position-y: -217px;
        width: 60px;
        height: 70px;
      }
    }

    &.bg-network-hospitals {
      &:before {
        width: 148px;
        height: 110px;
        background-size: calc(100% + 30px);
        background-position-x: -15px;
        background-position-y: -490px;
      }
    }
  }
}

.tm-sprite-3 {
  display: inline-block;
  background-image: url(../images/sprite_set3.webp);
  height: 56px;
  width: 56px;
  background-size: calc(100% + 20px);
  background-position-x: -10px;
  background-position-y: -10px;

  &.bg-twitter,
  &.bg-facebook,
  &.bg-instagram,
  &.bg-linkedin-in,
  &.bg-youtube {
    background-position-x: -3px;
    background-position-y: -3px;
    height: 25px;
    width: 25px;
    background-size: calc(100% + 6px);
  }

  &.bg-instagram {
    background-position-y: -31.6px;
  }

  &.bg-facebook {
    background-position-y: -61.7px;
  }

  &.bg-linkedin-in {
    background-position-y: -90.5px;
  }

  &.bg-youtube {
    height: 20px;
    width: 28px;
    background-position-y: -134.5px;
  }

  &.bg-health,
  &.bg-car,
  &.bg-life,
  &.bg-bike {
    height: 53px;
    width: 53px;
    background-position-y: -967px;

    @media (max-width: 767.98px) {
      height: 40px;
      width: 40px;
      background-position-x: -7px;
      background-position-y: -715px;
      background-size: calc(100% + 14px);
    }
  }

  &.bg-car {
    background-position-y: -1157px;

    @media (max-width: 767.98px) {
      background-position-y: -855px;
    }
  }

  &.bg-life {
    background-position-y: -1030px;

    @media (max-width: 767.98px) {
      background-position-y: -761.6px;
    }
  }

  &.bg-bike {
    background-position-y: -1094px;

    @media (max-width: 767.98px) {
      background-position-y: -810px;
    }
  }

  &.bg-xmark {
    height: 48px;
    width: 48px;
    background-position-y: -781px;
    background-position-x: -7.5px;
    background-size: calc(100% + 15px);
  }

  &.bg-xmark-light-2 {
    height: 16px;
    width: 16px;
    background-position-y: -753px;
    background-position-x: -5px;
    background-size: calc(100% + 10px);
  }

  &.bg-moible {
    height: 42px;
    width: 23px;
    background-position-y: -1276px;
    background-position-x: -10px;
    background-size: calc(100% + 20px);
  }

  &.bg-play-store {
    height: 20px;
    width: 20px;
    background-position-y: -862px;
    background-position-x: -4px;
    background-size: calc(100% + 8px);
  }

  &.bg-chevron-right {
    background-position-y: -142px;
    background-position-x: -5px;
    height: 7.5px;
    width: 12px;
    background-size: calc(100% + 10px);
    transform: rotate(-90deg);
  }

  &.bg-arrow-right {
    height: 24px;
    width: 24px;
    background-size: calc(100% + 30px);
    background-position-x: -15px;
    background-position-y: -481px;
    transform: rotate(180deg);
  }

  &-before {
    &:before {
      content: "";
      display: inline-block;
      height: 56px;
      width: 56px;
      background-position-y: -134.5px;
      background-size: 100%;
      background-image: url(../images/sprite_set3.webp);
    }

    &.bg-phone {
      &:before {
        height: 15px;
        width: 15px;
        background-position-x: -19.5px;
        background-position-y: -84px;
        background-size: calc(100% + 3px);
      }
    }

    &.bg-envelope {
      &:before {
        height: 12px;
        width: 15px;
        background-position-y: -101px;
        background-position-x: -19.5px;
        background-size: calc(100% + 3px);
      }
    }

    &.bg-bars {
      &:before {
        background-position-y: -282.3px;
        background-position-x: -7.5px;
        width: 22px;
        height: 18px;
        background-size: calc(100% + 15px);
      }
    }

    &.bg-xmark {
      &:before {
        width: 15px;
        height: 15px;
        background-position-y: -205px;
        background-position-x: -5px;
        background-size: calc(100% + 10px);
      }
    }

    &.bg-arrow-left {
      &:before {
        height: 24px;
        width: 24px;
        background-size: calc(100% + 30px);
        background-position-x: -15px;
        background-position-y: -481px;
      }
    }

    &.bg-checkmark-dark {
      &:before {
        background-position-x: -10px;
        background-position-y: -711px;
        background-size: calc(100% + 20px);
        width: 45px;
        height: 41px;
      }
    }

    &.bg-chevron-right-light {
      &:before {
        background-position-x: -7.5px;
        background-position-y: -410.5px;
        background-size: calc(100% + 15px);
        width: 20px;
        height: 20px;
      }
    }

    &.bg-chevron-left-light {
      &:before {
        background-position-x: -7.5px;
        background-position-y: -410.5px;
        background-size: calc(100% + 15px);
        width: 20px;
        height: 20px;
        transform: rotate(180deg);
      }
    }

    &.bg-xmark-light {
      &:before {
        background-position-x: -5px;
        background-position-y: -496.2px;
        background-size: calc(100% + 10px);
        width: 30px;
        height: 30px;
      }
    }

    &.bg-health,
    &.bg-life,
    &.bg-bike,
    &.bg-car {
      &:before {
        background-position-x: -5px;
        background-position-y: -660px;
        background-size: calc(100% + 10px);
        width: 40px;
        height: 40px;
      }

      @media (max-width: 767.98px) {
        width: 36px;
        height: 36px;

        &:before {
          background-position-y: -608px;
        }
      }
    }

    &.bg-life {
      &:before {
        background-position-y: -703px;

        @media (max-width: 767.98px) {
          background-position-y: -648px;
        }
      }
    }

    &.bg-bike {
      &:before {
        background-position-y: -748px;

        @media (max-width: 767.98px) {
          background-position-y: -688px;
        }
      }
    }

    &.bg-car {
      &:before {
        background-position-y: -790px;

        @media (max-width: 767.98px) {
          background-position-y: -727px;
        }
      }
    }

    &.bg-checkmark-green {
      &:before {
        background-position-x: -10px;
        background-position-y: -801px;
        background-size: calc(100% + 20px);
        width: 28px;
        height: 28px;
      }
    }

    &.bg-bike-1,
    &.bg-car-1,
    &.bg-life-1,
    &.bg-health-1,
    &.bg-advisor,
    &.bg-companies,
    &.bg-blogs {
      &:before {
        height: 50px;
        width: 50px;
        background-size: calc(100% + 16px);
        background-position-x: -8px;
        background-position-y: -1459px;
      }
    }

    &.bg-blogs {
      &:before {
        background-position-y: -1573px;
      }
    }

    &.bg-advisor {
      &:before {
        background-size: calc(100% + 8px);
        background-position-x: -6px;
        background-position-y: -1434px;
      }
    }

    &.bg-companies {
      &:before {
        background-position-y: -1517px;
      }
    }

    &.bg-health-1 {
      &:before {
        background-position-y: -1752px;
      }
    }

    &.bg-life-1 {
      &:before {
        background-position-y: -1809px;
      }
    }

    &.bg-car-1 {
      &:before {
        background-position-y: -1696px;
      }
    }
  }

  &-after {
    &:after {
      content: "";
      display: inline-block;
      height: 56px;
      width: 56px;
      background-position-y: -134.5px;
      background-size: 100%;
      background-image: url(../images/sprite_set3.webp);
    }

    &.bg-chevron-down,
    &.bg-chevron-up {
      &:after {
        background-position-y: -127.5px;
        background-position-x: -4px;
        height: 10px;
        width: 12px;
        background-size: calc(100% + 8px);
      }
    }

    &.bg-chevron-up {
      &:after {
        transform: rotate(180deg);
      }
    }

    &.bg-circle-chevron-right {
      &:after {
        background-position-y: -347px;
        background-position-x: -10px;
        background-size: calc(100% + 20px);
      }
    }

    &.bg-circle-plus {
      &:after {
        height: 30px;
        width: 30px;
        background-size: calc(100% + 15px);
        background-position-y: -424px;
        background-position-x: -7.5px;
      }
    }

    &.bg-circle-minus {
      &:after {
        height: 30px;
        width: 30px;
        background-size: calc(100% + 15px);
        background-position-y: -456px;
        background-position-x: -7.5px;
      }
    }

    &.bg-chevron-filled-circle-dark {
      &:after {
        height: 20px;
        width: 20px;
        background-position-y: -991px;
        background-position-x: -7.5px;
        background-size: calc(100% + 15px);
      }
    }
  }
}

.tm-sprite-4 {
  display: inline-block;
  background-image: url(../images/sprite_set4.webp);
  height: 50px;
  width: 110px;
  background-size: calc(100% + 20px);
  background-position-x: -10px;
  background-position-y: -10px;

  &.bg-irda {
    width: 100px;
    height: 36.66px;
  }

  &.bg-global-sign {
    background-position-y: -58px;
    background-position-x: -9.5px;
    height: 40px;
    width: 107px;
    background-size: calc(100% + 19px);
  }
}

.tm-sprite-5 {
  display: inline-block;
  background-image: url(../images/sprite_set5.webp);
  height: 56px;
  width: 56px;
  background-size: calc(100% + 20px);
  background-position-x: -10px;
  background-position-y: -10px;

  &.bg-star {
    background-size: calc(100% + 50px);
    background-position-y: -336px;
    background-position-x: -25px;
    width: 25px;
    height: 24px;
  }

  &.bg-unbiased-advise,
  &.bg-certified,
  &.bg-claim-assistance,
  &.bg-digital-support {
    background-size: calc(100% + 70px);
    background-position-x: -35px;
  }

  &.bg-certified {
    background-position-x: -26px;
    background-position-y: -61px;
    background-size: calc(100% + 50px);
  }

  &.bg-claim-assistance {
    background-size: calc(100% + 50px);
    background-position-y: -118px;
    background-position-x: -23px;
  }

  &.bg-digital-support {
    background-position-y: -173px;
    background-position-x: -25px;
    background-size: calc(100% + 48px);
  }
}

.tm-sprite-6 {
  display: inline-block;
  background-image: url(../images/sprite_set6.webp);
  height: 83px;
  width: 83px;
  background-size: calc(100% + 10px);
  background-position-x: -10px;
  background-position-y: -10px;

  &.bg-third-party {
    background-position-x: -5px;
    background-position-y: -4px;

    @media (max-width: 767.98px) {
      height: 53px;
      width: 53px;
    }
  }

  &.bg-car-cover {
    background-position-x: -5px;
    background-position-y: -90px;

    @media (max-width: 767.98px) {
      height: 53px;
      width: 53px;
      background-position-y: -64px;
    }
  }

  &.bg-best-insurers,
  &.bg-claim-support,
  &.bg-best-recommendations {
    height: 40px;
    width: 64px;
    background-size: calc(100% + 30px);
    background-position-x: -15px;
    background-position-y: -179px;
  }

  &.bg-claim-support {
    background-position-y: -226px;
  }

  &.bg-best-recommendations {
    background-position-y: -273px;
  }
}

.tm-sprite-7 {
  display: inline-block;
  background-image: url(../images/sprite_set7.webp);
  height: 83px;
  width: 83px;
  background-size: calc(100% + 10px);
  background-position-x: -10px;
  background-position-y: -10px;

  &.bg-term-life,
  &.bg-investment-plans,
  &.bg-ulips,
  &.bg-child-insurance-plans,
  &.bg-whole-life-plan,
  &.bg-pension-plans {
    background-position-y: -208px;
    background-position-x: -5px;

    @media (max-width: 767.98px) {
      height: 53px;
      width: 53px;
      background-position-y: -143px;
    }
  }

  &.bg-investment-plans {
    background-position-y: -292px;

    @media (max-width: 767.98px) {
      background-position-y: -200px;
    }
  }

  &.bg-ulips {
    background-position-y: -377px;

    @media (max-width: 767.98px) {
      background-position-y: -258px;
    }
  }

  &.bg-child-insurance-plans {
    background-position-y: -464px;

    @media (max-width: 767.98px) {
      background-position-y: -315px;
    }
  }

  &.bg-whole-life-plan {
    background-position-y: -549px;

    @media (max-width: 767.98px) {
      background-position-y: -374px;
    }
  }

  &.bg-pension-plans {
    background-position-y: -634px;

    @media (max-width: 767.98px) {
      background-position-y: -432px;
    }
  }

  &.bg-term-life-plans,
  &.bg-tax-planning,
  &.bg-child-savings,
  &.bg-retirement-plans {
    background-position-y: -9px;
    background-position-x: -30px;
    background-size: calc(100% + 60px);
    height: 56px;
    width: 56px;
  }

  &.bg-tax-planning {
    background-position-y: -72px;
  }

  &.bg-child-savings {
    background-position-y: -135px;
  }

  &.bg-retirement-plans {
    background-position-y: -198px;
  }
}

.tm-sprite-8 {
  display: inline-block;
  background-image: url(../images/sprite_set8.webp);
  height: 83px;
  width: 83px;
  background-size: calc(100% + 10px);
  background-position-x: -10px;
  background-position-y: -10px;

  &.bg-profile,
  &.tm-location-2,
  &.bg-checkmark-green-2 {
    background-position-y: -30px;
    background-position-x: -10px;
    background-size: calc(100% + 20px);
    width: 76px;
    height: 80px;
  }

  &.tm-location-2 {
    background-position-y: -111px;
    background-position-x: -10px;
  }

  &.bg-checkmark-green-2 {
    background-position-y: -316px;
    background-position-x: -14px;
    background-size: calc(100% + 30px);

    @media (max-width: 767.98px) {
      background-position-y: -284px;
    }
  }

  &.bg-message {
    background-position-y: -239px;
    background-position-x: -15px;
    background-size: calc(100% + 30px);
  }

  &.bg-call-2 {
    background-position-y: -827px;
    background-position-x: -35px;
    height: 32px;
    width: 32px;
    background-size: calc(100% + 70px);
  }
}