html {
    scroll-behavior: smooth;
}

.tm {
    &-body {
        @include body(400);

        &-regular {
            @include body(500);
        }
    }

    &-h1 {
        @include h1(400);

        &-regular {
            @include h1(500);
        }

        &-medium {
            @include h1(600);
        }

        &-bold {
            @include h1(700);
        }
    }

    &-h2 {
        @include h2(400);

        &-regular {
            @include h2(500);
        }

        &-bold {
            @include h2(700);
        }
    }

    &-h4 {
        @include h4(400);

        &-regular {
            @include h4(500);
        }

        &-medium {
            @include h4(600);
        }

        &-bold {
            @include h4(700);
        }
    }

    @media(max-width:767.98px) {
        &-body {
            line-height: 21px;

            &-regular {
                line-height: 21px;
            }
        }

        &-h1 {
            font-size: 22px;
            line-height: 28px;

            &-regular,
            &-bold {
                font-size: 22px;
                line-height: 28px;
            }
        }

        &-h2 {
            font-size: 18px;
            line-height: 22px;

            &-regular,
            &-bold {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}

.tm-highlight-text {
    color: #00A465;
}

.tm-section-heading {
    margin-bottom: 8px
}

.mb {
    &-0 {
        margin-bottom: 0px !important;
    }
}

.tm-form,
.advisor-card,
.tm-empty-list,
.wpcf7-form {

    // button
    .tm-button,
    input[type="submit"] {
        font-family: var(--wp--preset--font-family--turtlemint-child-montserrat);
        border: none !important;
        outline: none !important;
        border-radius: 8px;
        text-decoration: none !important;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF !important;
        height: 18px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 11px 24px;
        position: relative;
        background: #00A465;
        cursor: pointer;

        &:disabled {
            background: #D2D5D6;
            color: #A1A6A7 !important;
        }

        &.large {
            height: 20px;
            font-size: 16px;
            line-height: 20px;
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }
}

//hide
.hide-lg-down {
    @media (max-width: 991.98px) {
        display: none;
    }
}

.hide-md-down {
    @media (max-width: 767.98px) {
        display: none;
    }
}

.hide-sm-down {
    @media (max-width: 575.98px) {
        display: none;
    }
}

.hide-lg-up {
    @media (min-width: 992px) {
        display: none;
    }
}

.hide-md-up {
    @media (min-width: 768px) {
        display: none;
    }
}

.hide-sm-up {
    @media (min-width: 576px) {
        display: none;
    }
}

/* skeletons */
.tm-card-skeleton {
    background-color: #ffffff;
    //position: absolute;
    width: 100%;
    z-index: 1;

    .advisor-card__wraper {
        height: 362px;
        animation: pulsing 1s linear infinite alternate;

        &:before {
            background-image: url('');
            background-color: $tm-grey1;
        }

        .advisor-image,
        .tm-button {
            background-color: $tm-grey2;
        }

        .advisor-image {
            margin-bottom: 23px;

            img {
                opacity: 0;
            }
        }

        .tm-button {
            min-width: 140px;
        }

        .advisor-name,
        .advisor-location {
            min-height: 13px;
            background-color: $tm-grey3;
            border-radius: 8px;
            margin: auto;
        }

        .stat-title,
        .stat-subtitle {
            min-height: 8px;
            background-color: $tm-grey3;
            border-radius: 8px;
            margin: auto;
        }

        .stat-title {
            width: 80px;
        }

        .stat-subtitle {
            width: 44px;
        }

        .advisor-name {
            max-width: 166px;
            margin-bottom: 17px;
        }

        .advisor-location {
            max-width: 80px;
            margin-bottom: 22px;
        }

        .tm-stats {
            margin-bottom: 28px;
            min-height: 42px;
        }
    }

    @media(max-width:767.98px) {
        .advisor-card__wraper {
            height: 323px;
        }
    }
}

.tm-filters-skeleton {

    .left-side,
    .right-side {
        animation: pulsing 1s linear infinite alternate;
    }

    .icon-container,
    .locate-me-link {
        img {
            opacity: 0;
        }
    }

    .icon-container,
    .tm-select-value .title,
    .pincode-title,
    .pincode,
    .locate-me-link {
        background-color: $tm-grey3;
        border-radius: 8px;
    }

    .tm-select-value {
        .title {
            min-width: 97px;
            height: 13px;

            &:before {
                display: none;
            }
        }
    }

    .pincode-title {
        width: 38px;
    }

    .pincode-title,
    .pincode,
    .locate-me-link {
        height: 13px;
        display: block;
    }

    .pincode {
        width: 79px;
    }

    .locate-me-link {
        width: 100%;
    }

    @media(max-width:767.98px) {
        height: 95.6px;

        .pincode-title,
        .pincode,
        .locate-me-link,
        .tm-select-value .title {
            height: 8px;
        }

        .locate-me-link {
            max-width: 79px;
        }
    }
}

.tm-heading-container {
    min-height: 59px;
    /* @media(max-width:575.98px){
        min-height: 106px;
    } */
}

.heading-skeleton,
.subheading-skeleton {
    border-radius: 8px;
    height: 13px;
    animation: pulsing 1s linear infinite alternate;
}

.heading-skeleton {
    background: $tm-grey2;
    max-width: 313px;
    margin-bottom: 17px;

    @media(max-width:767.98px) {
        max-width: 183px;
    }
}

.subheading-skeleton {
    background: $tm-grey3;
    max-width: 106px;

    @media(max-width:767.98px) {
        max-width: 106px;
    }
}

.tm-steps-skeleton {

    .image-container,
    .tm-advice-steps-container__wraper .tm-advise-steps .tm-advise-step .step-num {
        background: $tm-grey3;
    }

    .image-container {
        border-radius: 8px;

        img {
            opacity: 0;
        }
    }

    .step-num {
        width: 55px;
    }

    .tm-link {
        width: 100px;
    }

    .tm-link,
    .tm-section-heading,
    .tm-section-subheading {
        display: block;
        height: 13px;
        ;
        background: $tm-grey3;
        border-radius: 8px;
    }

    .tm-section-heading {
        width: 236px;
    }

    .tm-section-subheading {
        width: 80px;
    }

    .tm-advice-steps-container__wraper {
        min-height: 358.6px;

        .tm-advise-steps {
            margin-top: 23px;

            .tm-advise-step {
                .step-connector {
                    opacity: 0;
                }

                .content {
                    margin-bottom: 8px;
                }

                .content,
                .content2 {
                    width: 100%;
                    max-width: 149px;
                    height: 8px;
                    background: $tm-grey3;
                    border-radius: 4px;
                }

                .content2 {
                    max-width: 55px;
                    margin-bottom: 0px;
                }
            }
        }
    }

    .tm-advice-steps-container__wraper {
        animation: pulsing 1s linear infinite alternate;
    }

    @media(max-width:767.98px) {
        .tm-link {
            display: inline-flex;
        }

        .tm-advice-steps-container__wraper {
            .tm-advise-steps {
                .tm-advise-step {

                    .content,
                    .content2 {
                        width: calc(100% - 20px);
                        max-width: 149px;
                        height: 8px;
                        background: $tm-grey3;
                        border-radius: 4px;
                    }

                    .content2 {
                        max-width: 45px;
                    }
                }
            }
        }

        .tm-scrollbar-mob {
            &-horizontal {
                &::-webkit-scrollbar-track {
                    background: $tm-grey3;
                }

                &::-webkit-scrollbar-thumb {
                    background: #C9C9C9;
                }

                &::-webkit-scrollbar-thumb:window-inactive {
                    background: #C9C9C9;
                }
            }
        }
    }
}

.location-name-skeleton {
    height: 20px;
    background: $tm-grey3;
    border-radius: 8px;
    max-width: 70%;
    animation: pulsing 1s linear infinite alternate;
}

.breadcrumb-skeleton {
    animation: pulsing 1s linear infinite alternate;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 16px;

    .home-icon {
        height: 30px;
        width: 30px;
        background: #D9D9D9;
        border-radius: 8px;
    }

    p {
        display: inline-block;
        height: 20px;
        background: $tm-grey3;
        border-radius: 8px;
        width: 280px;
        margin-bottom: 0px;
    }
}

@keyframes pulsing {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.tm-advisor-list.tm-skeleton,
.locator-section.tm-filters-skeleton,
.tm-section-heading.heading-skeleton,
.tm-section-subheading.subheading-skeleton,
.tm-advice-steps-container.tm-steps-skeleton,
.location-name.location-name-skeleton,
.tm-breadcrumb.breadcrumb-skeleton {
    display: none;
}

.tm-loading .tm-advisor-list:not(.tm-skeleton),
.tm-loading .locator-section:not(.tm-filters-skeleton),
.tm-loading .tm-section-heading:not(.heading-skeleton),
.tm-loading .tm-section-subheading:not(.subheading-skeleton),
.tm-loading .tm-advice-steps-container:not(.tm-steps-skeleton),
.tm-loading .location-name:not(.location-name-skeleton),
.tm-loading .tm-breadcrumb:not(.breadcrumb-skeleton) {
    display: none;
}

.tm-loading .tm-skeleton {
    display: grid;
}

.tm-loading .tm-filters-skeleton,
.tm-loading .breadcrumb-skeleton {
    display: flex;
}

.tm-loading .heading-skeleton,
.tm-loading .subheading-skeleton,
.tm-loading .tm-steps-skeleton,
.tm-loading .location-name-skeleton {
    display: block;
}

/* links */
.tm-link {
    //font-weight: 600;
    font-size: 14px;
    //line-height: 17px;
    letter-spacing: 0.01em;
    //color: $tm-green !important;
    text-decoration: none !important;

    &.arrow-right-filled {
        position: relative;
        padding-right: 13px;

        &:before {
            content: '';
            width: 9px;
            height: 9px;
            position: absolute;
            background-image: url(../../assets/images/sprite_set8.webp);
            right: 0px;
            top: calc(50% - 3.5px);
            background-position-x: -19.5px;
            background-position-y: -4px;
            background-size: calc(100% + 40px);
        }
    }

    &.tm-redirect {
        font-weight: 500;
        align-items: center;
        gap: 5px;
        display: inline-flex;
        justify-content: center;
        margin-top: 0px;
        font-size: 14px;
        line-height: 17px;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(2px);
        border-radius: 20px;
        height: 28px;
        padding: 4px 12px;

        @media(max-width:767.98px) {
            font-size: 12px;
            line-height: 15px;
        }
    }
}

/* scrollbar */
.tm-scrollbar-mob {
    @media(max-width:767.98px) {
        &-horizontal {
            overflow: hidden;
            overflow-x: scroll;
            padding-bottom: 20px;

            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }

            &::-webkit-scrollbar-track {
                -webkit-border-radius: 2px;
                border-radius: 2px;
                margin-left: 157px;
                margin-right: 157px;
                background: rgba(217, 217, 217, 0.8);
            }

            &::-webkit-scrollbar-thumb {
                -webkit-border-radius: 2px;
                border-radius: 2px;
                background: $tm-green;
            }

            &::-webkit-scrollbar-thumb:window-inactive {
                background: $tm-green;
            }
        }
    }
}

/* button loader class */
.tm-loader {
    color: transparent !important;

    &.disabled {
        color: transparent !important;
    }

    &:before {
        content: '';
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background:
            radial-gradient(farthest-side, #FFFFFF 94%, #0000) top/4px 4px no-repeat,
            conic-gradient(#0000 30%, #FFFFFF);
        -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
        animation: tmLoader 1s infinite linear;
        position: absolute;
    }
}

.tm-loader-dark {
    color: transparent !important;

    &.disabled {
        color: transparent !important;
    }

    &:before {
        content: '';
        width: 20px;
        height: 20px;
        left: calc(50% - 10px);
        border-radius: 50%;
        background:
            radial-gradient(farthest-side, #00A364 94%, #0000) top/4px 4px no-repeat,
            conic-gradient(#0000 30%, #00A364);
        -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
        animation: tmLoader 1s infinite linear;
        position: absolute;
    }
}

@keyframes tmLoader {
    100% {
        transform: rotate(1turn)
    }
}

.tm-form,
.wpcf7-form {

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .form-wrap {
        max-width: calc(100% - 80px);
        margin: auto;
        text-align: left;
    }

    .filter-form-group {
        position: relative;
        margin-bottom: 32px;

        .tm-select-value {
            justify-content: center;
            flex-direction: row !important;
        }

        .tm-select-options {
            left: calc(50% - 120px) !important;
        }
    }

    label {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #4D5556;
        margin-bottom: 12px;
    }

    .error-message {
        display: none;
        margin-bottom: 0px;
        margin-top: 8px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FF3B30;
    }

    .tm-button,
    input[type="submit"] {
        width: 100%;
        max-width: 328px;
        margin-top: 33px;
        height: 48px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .tm-form-group {
        display: grid;

        &.tm-error {
            input {
                border-color: rgba(255, 59, 48, 1) !important;
            }

            .prefix {
                border-color: rgba(255, 59, 48, 1) !important;
            }
        }
    }

    .pincode-input-group,
    .otp-input-group {
        display: flex;
        justify-content: space-between;

        input {
            width: 40px;
            height: 32px;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            outline: none !important;
            font-weight: 500;
            font-size: 22px;
            line-height: 20px;
            text-align: center;
            color: #000000;
            border-radius: 0 !important;
            padding: 0px;
        }
    }

    &.style2 {
        label {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #4D5556;
            margin-bottom: 4px;
        }

        input {
            height: 22.4px;
            background: #FFFFFF;
            border: 1px solid #D2D5D6;
            border-radius: 4px;
            outline: none !important;
            padding: 12px 16px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #121617;
            transition: all 0.2s ease-in-out;
        }

        .form-wrap {
            max-width: 100%;

            .tm-form-group {
                &:not(:last-child) {
                    margin-bottom: 32px;
                }
            }
        }

        .tm-button {
            max-width: 100%;
        }

        .form-note {
            margin-top: 16px;
            margin-bottom: 0px;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: #4D5556;
        }

        .prefix {
            display: flex;
            align-items: center;
            background: #FFFFFF;
            border: 1px solid #D2D5D6;
            border-radius: 4px;
            height: 18.4px;
            padding: 14px 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #A1A6A7;
            transition: all 0.2s ease-in-out;

            input {
                border: none;
                padding: 0px;
                padding-left: 16px;
                height: auto;
                width: 100%;
            }

            .input-group-prefix {
                padding-right: 16px;
                position: relative;

                &:after {
                    content: '';
                    height: 30px;
                    width: 1px;
                    background-color: #D2D5D6;
                    position: absolute;
                    right: 0px;
                    top: -3px;
                }
            }
        }
    }

    @media(max-width:767.98px) {
        .form-wrap {
            max-width: calc(100% - 40px);
        }

        .tm-button {
            max-width: 100%;
            margin-top: 30px;
        }

        label {
            font-size: 12px;
            margin-bottom: 8px;
        }

        .pincode-input-group {
            input {
                font-size: 16px;
            }
        }

        &.style2 {
            .form-wrap {
                .tm-form-group {
                    &:not(:last-child) {
                        margin-bottom: 24px;
                    }
                }
            }

            label {
                font-size: 12px;
                line-height: 20px;
            }
        }

        .prefix {
            .input-group-prefix {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}

.tm-form {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #fff inset !important;
        box-shadow: 0 0 0 30px #fff inset !important;
        font-family: $montserrat !important;
    }
}

.advisor-card__wraper .advisor-image {
    width: 96px;
    height: 96px;
    margin: 28px auto 16px;
    border-radius: 100%;
    background-image: url(../../assets/images/advisor-placeholder.webp);
    background-size: contain;
    overflow: hidden;
}

.tmStopScorll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}