// fonts
$montserrat : var(--wp--preset--font-family--turtlemint-child-montserrat);

$tm-black : #121617;
$tm-grey: #666666;
$tm-grey1: #F1F1F1;
$tm-grey2: #C4C4C4;
$tm-grey3: #D9D9D9;
$tm-green: #00A364;
$tm-light-blue:#E5EAF9;
$tm-blue:#224FD6;

.tm-grey-text {
    color: $tm-grey;
}

//typography
@mixin fontStyle($size, $lineheight, $weight) {
    font-size: $size;
    line-height: $lineheight;
    font-weight: $weight;
}

@mixin body($weight) {
    font-size: 14px;
    line-height: 17px;
    font-weight: $weight;
}

@mixin h1($weight) {
    font-size: 28px;
    line-height: 34px;
    font-weight: $weight;
}

@mixin h2($weight) {
    font-size: 20px;
    line-height: 24px;
    font-weight: $weight;
}

@mixin h4($weight) {
    font-size: 16px;
    line-height: 20px;
    font-weight: $weight;
}