@import 'tm-mixin';
@import 'helpers';

body {
    font-family: $montserrat;
}

.tm-arrow-right {
    position: relative;
    padding-right: 23px;

    &:before {
        content: '';
        height: 13px;
        width: 13px;
        background-image: url(../../assets/images/sprite_set3.webp);
        position: absolute;
        right: 0px;
        top: calc(50% - 6.5px);
        background-size: calc(100% + 10px);
        background-position-y: -145px;
        transform: rotate(-90deg);
        background-position-x: -5px;
    }

    @media (max-width: 767.98px) {
        padding-right: 17px;

        &:before {
            height: 10px;
            width: 10px;
            top: calc(50% - 5px);
            background-position-y: -128px;
        }
    }
}

@media (max-width: 767.98px) {
    .locator-bg {
        height: 72px !important;
    }
}

//popup
.tm-popup {
    &-body {
        .resend-timer {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #4D5556;
            margin-top: 44px;
            margin-bottom: 0px;

            &.success {
                color: #00A465;
                cursor: pointer;
            }
        }
    }
}

// locator section
.locator-section-main {
    @media(max-width:767.98px) {
        margin-top: -48px !important;
        margin-bottom: 32px !important;
    }
}

.locator-section {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    // max-width: 618px;
    max-width: 520px;
    margin: auto;
    padding: 20px 0px;
    display: flex;

    .left-side,
    .right-side {
        padding-left: 48px;
        padding-right: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-side {
        position: relative;
        width: 45%;

        &:after {
            content: '';
            height: 100%;
            width: 1px;
            background-color: rgba(0, 0, 0, 0.2);
            position: absolute;
            right: 0px;
            top: 0px;
        }
    }

    .right-side {
        width: 55%;
        gap: 12px 30px;
        // justify-content: space-between;
    }

    .pincode-title {
        @include fontStyle(13px, 16px, 400);
        color: $tm-grey;
        margin-bottom: 8px;
        margin-top: 0px;
    }

    .pincode,
    .locate-me-link {
        cursor: pointer;
    }

    .pincode {
        @include h4(600);
        color: $tm-black !important;
        text-transform: capitalize;
    }

    .locate-me-link {
        display: flex;
        align-items: center;

        .icon {
            margin-right: 10px;
            width: 20.46px;
            height: 20.46px;
        }

        span {
            @include fontStyle(16px, 20px, 600);
            letter-spacing: 0.01em;
            color: #00A364;
            opacity: 0.8;
        }
    }

    @media (max-width: 767.98px) {
        max-width: 100%;
        padding: 12px 0px;

        .left-side,
        .right-side {
            width: 50%;
            padding-left: 10px;
            padding-right: 10px;
        }

        .right-side {
            flex-direction: column;
        }

        .pincode-title {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 4px;
            color: rgba(0, 0, 0, 0.4);
        }

        .pincode {
            font-size: 14px;
            line-height: 17px;
        }

        .locate-me-link {
            span {
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
            }

            .icon {
                height: 12px;
                width: 12px;
                margin-right: 7px;
            }
        }
    }
}

.tm-select-dropdown {

    .tm-select-value {
        display: flex;
        align-items: center;
        gap: 8px 19px;

        .icon {
            width: 53px;
            height: 53px;
        }

        .title {
            @include h4(600);
            position: relative;
            padding-right: 20px;

            &:before {
                content: '';
                height: 12px;
                width: 12px;
                background-image: url(../../assets/images/sprite_set3.webp);
                background-size: calc(100% + 10px);
                background-position-y: -139px;
                background-position-x: -5px;
                position: absolute;
                right: 0px;
                top: calc(50% - 6px);
            }
        }
    }

    .tm-select-options {
        display: none;
        background: #FFFFFF;
        box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        position: absolute;
        width: 240px;
        left: calc(50% - 120px);
        z-index: 1;

        .tm-select-option {
            padding: 16px;
            display: flex;
            align-items: center;
            @include body(500);
            color: #333333;
            gap: 27px;
            position: relative;

            &:before {
                content: '';
                height: 20px;
                width: 20px;
                background-image: none;
                right: 24px;
                position: absolute;
                background-size: contain;
            }

            &.selected {
                &:before {
                    background-image: url(../../assets/images/sprite_set3.webp);
                    background-position: -8px -601px;
                    background-size: calc(100% + 16px);
                    width: 20px;
                    height: 20px;
                }
            }

            &:not(:last-child) {
                &:after {
                    content: '';
                    height: 1px;
                    opacity: 0.08;
                    background-color: #000000;
                    position: absolute;
                    bottom: 0px;
                    width: calc(100% - 32px);
                }
            }

            .icon {
                width: 32px;
                height: 32px;
            }

            .bg-car,
            .bg-bike,
            .bg-life,
            .bg-health {
                background-position-y: -665px;
                background-position-x: -5px;
                background-size: calc(100% + 10px);
            }

            .bg-bike {
                background-position-y: -629px;
            }

            .bg-life {
                background-position-y: -592px;
            }

            .bg-health {
                background-position-y: -556px;
            }
        }
    }

    .tm-select-value,
    .tm-select-option {
        cursor: pointer;
    }

    @media(max-width:767.98px) {
        .tm-select-value {
            flex-direction: column;

            .icon {
                width: 40px;
                height: 40px;
            }

            .title {
                font-size: 14px;
                line-height: 17px;

                color: #333333;

                &:before {
                    height: 10px;
                    width: 10px;
                    top: calc(50% - 4.5px);
                    background-position-y: -128px;
                }
            }
        }

        .tm-select-options {
            left: 0px;
        }
    }
}

//advisor list
.advisors-list-section {
    margin-top: 25px;
    margin-bottom: 32px;

    @media(max-width:767.98px) {
        margin-top: 21px;
        margin-bottom: 20px;
    }
}

.tm-advisor-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 21px 22px;

    @media(max-width:991.98px) {
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width:767.98px) {
        grid-template-columns: 1fr;
    }
}

.advisor-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0px;

    &__wraper {
        padding: 20px;
        padding-bottom: 24px;
        text-align: center;
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            height: 96px;
            width: 100%;
            background-image: url(../../assets/images/advisor-bg.webp);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: -1;
        }

        .tm-link {
            &.tm-redirect {
                position: absolute;
                right: 12px;
                top: 12px;
            }
        }

        .advisor-image {
            width: 96px;
            height: 96px;
            margin: 28px auto 16px;
            border-radius: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .advisor-name {
            margin-bottom: 8px;
            text-transform: capitalize;
        }

        .advisor-location {
            margin-bottom: 20px;
        }

        .tm-stats {
            margin-bottom: 24px;
            align-content: center;
            margin-left: 0px;
            margin-right: 0px;
            justify-content: center;
            position: relative;
            display: flex;

            &:after {
                content: '';
                height: 42px;
                width: 1px;
                background-color: #000000;
                opacity: 0.2;
                position: absolute;
                left: calc(50% - 4.2px);
                top: calc(50% - 21px);
            }

            .stat-title {
                margin-bottom: 8px;
                margin-top: 0px;
            }

            .stat-subtitle {
                margin-bottom: 0px;
            }

            .stat {
                &:first-child {
                    padding-left: 0px;
                    padding-right: 24px;
                }

                &:last-child {
                    padding-right: 0px;
                    padding-left: 24px;
                }
            }
        }
    }

    @media(max-width:767.98px) {
        &__wraper {
            padding-bottom: 24px;

            &:before {
                height: 68px;
            }

            .tm-link {
                &.tm-redirect {
                    right: 7px;
                    top: 8px;
                }
            }

            .advisor-image {
                margin-top: 0px;
                margin-bottom: 16px;
                width: 80px;
                height: 80px;
            }

            .tm-stats {
                .stat-title {
                    margin-bottom: 4px;
                }
            }
        }
    }
}

/* advice steps */
.tm-advice-steps-container {
    margin-bottom: 33px;

    &__wraper {
        background: rgba(217, 217, 217, 0.2);
        border-radius: 16px;
        padding: 32px 40px;

        .tm-headings {
            display: flex;
            justify-content: space-between;
        }

        .tm-advise-steps {
            margin-top: 32px;
            display: flex;

            .tm-advise-step {
                width: 100%;

                &:last-child {
                    .step-connector {
                        visibility: hidden;
                    }
                }

                .image-container {
                    height: 132px;
                    width: 132px;
                    overflow: hidden;
                    margin-bottom: 20px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }

                .content {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: $tm-black;
                    margin-bottom: 0px;
                    padding-right: 40px;

                    b {
                        font-weight: 700;
                    }
                }

                .step-num {
                    background: $tm-light-blue;
                    border-radius: 4px;
                    height: 24px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    text-transform: uppercase;
                    color: $tm-blue;
                    display: inline-flex;
                    align-items: center;
                    padding: 4px 8px;
                    margin-bottom: 16px;
                }

                .step-connector {
                    opacity: 0.2;
                    border-top: 1px dashed #000000;
                    height: 1px;
                    margin-top: -28px;
                    margin-bottom: 24px;
                    z-index: -1;
                    position: relative;
                }
            }
        }
    }

    @media(max-width:767.98px) {
        margin-bottom: 20px;

        &__wraper {
            padding: 28px 20px 24px;


            .tm-advise-steps {
                margin-right: -20px;
                margin-left: -20px;

                .tm-advise-step {
                    min-width: 145px;

                    &:first-child {
                        margin-left: 20px;
                    }

                    .image-container {
                        width: 80px;
                        height: 80px;
                        margin-bottom: 8px;
                    }

                    .step-connector {
                        margin-bottom: 20px;
                    }

                    .content {
                        font-size: 14px;
                        line-height: 20px;
                        padding-right: 20px;
                    }
                }
            }

            .link-container {
                text-align: center;
                margin-top: 24px;
            }
        }
    }

    @media (max-width: 575.98px) {
        border-radius: 0px;

        &__wraper {
            border-radius: 0px;
            margin-left: -20px;
            margin-right: -20px;
        }
    }

}

/* empty list */
.tm-empty-list {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

    .image-container {
        width: 160px;
        height: 160px;
        margin: auto;
        margin-bottom: 24px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .tm-heading {
        margin-bottom: 12px;
    }

    .tm-subheading {
        max-width: 468px;
        margin: 12px auto 32px;
    }

    .tm-subheading,
    .call-details .title {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #000000;
        opacity: 0.5;
    }

    .tm-button {
        margin-bottom: 20px;
        min-width: 208px;
    }

    .call-details {
        .title {
            margin-bottom: 8px;
        }

        .tm-link {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            display: inline-flex;
            align-items: center;
            gap: 12px;
        }
    }

    @media(max-width:767.98px) {
        .tm-heading {
            max-width: 271px;
            margin: 24px auto 8px;
        }

        .tm-subheading {
            font-size: 14px;
            line-height: 21px;
            opacity: 0.6;
            margin-bottom: 24px;
        }

        .tm-button {
            min-width: 177px;
            margin-bottom: 24px;
        }
    }
}

/* success popup */
#tmSuccessPopup {
    .popup-icon {
        width: 85px;
        height: 85px;
        margin-bottom: 22px;
    }

    .popup-heading {
        margin-bottom: 12px;
    }

    .popup-subheading {
        font-size: 18px;
        line-height: 26px;
        color: #000000;
        opacity: 0.7;
        margin-bottom: 0px;
    }

    @media(max-width:767.98px) {
        .popup-icon {
            width: 64px;
            height: 64px;
            margin-bottom: 21px;
            i{
                width: 100%;
                height: 100%;
            }
        }

        .popup-subheading {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #4D5556;
            max-width: 314px;
        }
    }
}

#getInTouchPopup {
    .form-wrap {
        max-width: 328px;
    }

    .tm-button {
        margin-top: 8px;
    }

    @media(max-width:767.98px) {
        .form-wrap {
            max-width: 100%;
        }

        .form-note {
            margin-top: 20px;
        }

        .tm-button {
            margin-top: 16px;
        }

        .tm-popup-body {
            .popup-icon {
                width: 64px;
                height: 64px;
                margin-bottom: 20px;

                i{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media(max-width:301.98px) {
    .form-note {
        &.hide-custom-down {
            display: none !important;
        }
    }
}

@media(min-width:302px) {
    .form-note {
        &.hide-custom-up {
            display: none !important;
        }
    }
}

#tmOtpPopup {
    .tm-button {
        margin-top: 20px;
    }
}

.tm-advisor-stats-section {
    display: grid;
    grid-template-columns: 36.1% 55%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px !important;

    .h1-heading {
        margin-bottom: 64px;
    }

    .banner-image {
        height: 580.18px;
        width: auto;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .stats-section {
        display: flex;
        gap: 12px;
        justify-content: space-between;

        .stat {
            text-align: center;
            color: #101828;

            .number {
                font-weight: 700;
                font-size: 48px;
                line-height: 46px;
                letter-spacing: -0.02em;
                margin-bottom: 8px;
                white-space: nowrap;
            }

            .title {
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 0px;
            }
        }
    }

    @media(max-width:767.98px) {
        grid-template-columns: 1fr;
        margin-bottom: 60px !important;

        .left-side {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            grid-gap: 20px;
        }

        .h1-heading {
            margin-bottom: 0px;
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
            letter-spacing: -0.02em;
        }

        .banner-image {
            height: 227.52px;
            width: 100%;
        }

        .stats-section {
            margin-top: 10px;
            justify-content: space-around;

            .stat {
                .number {
                    font-size: 23.0945px;
                    line-height: 22px;
                    margin-bottom: 4px;
                }

                .title {
                    font-size: 13px;
                    line-height: 16px;
                }
            }
        }
    }
}

.advisor-help-section {
    margin-bottom: 100px !important;

    .h1-heading {
        max-width: 758px;
        margin-bottom: 36px;
    }

    .help-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 71px;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 96px;
        }

        .heading {
            font-weight: 600;
            font-size: 30px;
            line-height: 38px;
            color: #101828;
            margin-bottom: 16px;
        }

        .desc {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #475467;
            margin-bottom: 32px;
        }

        .tm-checklist {
            margin-bottom: 0px;

            li {
                padding-left: 44px;
                font-size: 18px;
                line-height: 28px;

                &:before {

                    width: 28px;
                    height: 28px;
                    background-position-y: -1203px;
                    background-position-x: -14px;
                    background-size: calc(100% + 28px);
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    @media(max-width:767.98px) {
        background: #F7F7F7;
        padding-top: 44px;
        padding-bottom: 44px;
        margin-bottom: 30px !important;

        .h1-heading {
            margin-bottom: 14px;
        }

        .help-section {
            grid-template-columns: 1fr;

            &:not(:last-child) {
                margin-bottom: 22px;
            }

            .image-container {
                display: none;
            }

            .heading {
                font-size: 22px;
                line-height: 30px;
                margin-bottom: 17px;
                display: flex;
                align-items: center;

                .icon {
                    width: 52px;
                    height: 52px;
                    object-fit: contain;
                    margin-right: 7px;
                }
            }

            .desc {
                display: none;
            }

            .tm-checklist {
                li {
                    padding-left: 34px;
                    font-size: 14px;

                    &:before {
                        height: 24px;
                        width: 24px;
                        background-size: calc(100% + 22px);
                        background-position-y: -988px;
                        background-position-x: -11px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }

    @media(max-width:575.98px) {
        .h1-heading {
            max-width: 305px;
        }
    }
}

.tm-testimonial-section {
    margin-bottom: 100px !important;

    .h1-heading {
        margin-bottom: 80px;
    }

    @media(max-width:767.98px) {
        margin-bottom: 60px !important;

        .h1-heading {
            margin-bottom: 15px;
        }
    }

    @media(max-width:575.98px) {
        .h1-heading {
            max-width: 300px;
        }
    }
}

.tm-testimonial-slider {
    margin-bottom: 0px !important;

    .tm-testimonial {
        text-align: left;

        &:not(:first-child) {
            display: none;
        }

        &__wraper {
            max-width: 900px;
            margin: auto;

            .content {
                font-style: italic;
                font-weight: 400;
                font-size: 20px;
                line-height: 145%;
                display: flex;
                align-items: center;
                color: #2C373E;
                margin-bottom: 34px;
                position: relative;
                padding-left: 150px;
                padding-right: 150px;

                &:before,
                &:after {
                    content: '';
                    height: 122px;
                    width: 104px;
                    position: absolute;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    top: -20px;
                    z-index: -1;
                }

                &:before {
                    left: 0px;
                    background-image: url(../../assets/images/sprite_set5.webp);
                    background-size: calc(100% + 20px);
                    background-position-y: -288.9px;
                    background-position-x: -10px;
                }

                &:after {
                    right: 0px;
                    background-image: url(../../assets/images/sprite_set5.webp);
                    background-size: calc(100% + 20px);
                    background-position-y: -421.9px;
                    background-position-x: -10px;
                }
            }

            .author {
                display: grid;
                grid-template-columns: 103px 1fr;
                grid-gap: 20px;
                text-align: left;
                align-items: center;
                max-width: 600px;
                margin-left: 150px;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .review {
                display: flex;
                gap: 4px;
                margin-bottom: 21px;

                img {
                    height: 24px;
                    width: 25px;
                    margin: initial;
                }
            }

            .author-name {
                font-weight: 700;
                font-size: 24px;
                line-height: 100%;
                display: flex;
                align-items: center;
                color: #2C373E;
                margin-bottom: 10px;
            }

            .author-position {
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                display: flex;
                align-items: center;
                color: #46535A;
                margin-bottom: 0px;
            }
        }
    }

    &.slick-initialized {
        .tm-testimonial {
            display: block;
        }
    }


    .slick-dots {
        position: inherit;
        display: flex;
        justify-content: center;
        bottom: 0px;
        margin-top: 60px;

        li {
            display: inline-flex !important;
            align-items: center;
            width: auto;
            margin: 0px 8px;
            height: auto;

            button {
                width: 16px;
                height: 16px;
                padding: 0px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: relative;

                &:before {
                    width: 16px;
                    height: 16px;
                    color: #D9D9D9;
                    opacity: 1;
                    font-size: 16px;
                    top: inherit;
                    left: inherit;
                }
            }

            &:hover {
                button {
                    &:before {
                        color: #029069;
                    }
                }
            }

            &.slick-active {
                button {
                    &:before {
                        opacity: 1;
                        color: #029069;
                    }
                }
            }
        }
    }

    @media(max-width:767.98px) {
        .tm-testimonial {
            &__wraper {
                .content {
                    padding-left: 53px;
                    padding-right: 48px;
                    padding-top: 15px;
                    font-size: 14px;
                    line-height: 145%;
                    margin-bottom: 23px;

                    &:before,
                    &:after {
                        width: 47px;
                        height: 55px;
                    }

                    &:before {
                        left: 0px;
                        top: 0px;
                        width: 43px;
                        height: 50px;
                        background-size: calc(100% + 8px);
                        background-position-y: -120px;
                        background-position-x: -4px;
                    }

                    &:after {
                        top: inherit;
                        right: 9px;
                        bottom: -20px;
                        background-size: calc(100% + 8px);
                        background-position-y: -187px;
                        background-position-x: -7px;
                    }
                }

                .author {
                    max-width: 100%;
                    margin-left: 0px;
                    grid-template-columns: 72px 1fr;
                    grid-gap: 13px;
                }

                .review {
                    margin-bottom: 15px;

                    img {
                        height: 17px;
                        width: 18px;
                        margin: initial;
                    }
                }

                .author-name {
                    font-size: 16.8071px;
                    margin-bottom: 7px;
                }

                .author-position {
                    font-size: 11.2047px;
                    line-height: 145%;
                }
            }
        }

        .slick-dots {
            margin-top: 25px;

            li {
                width: auto;
                margin: 0px 5px;

                button {
                    height: 10px;
                    width: 10px;

                    &:before {
                        height: 10px;
                        width: 10px;
                        font-size: 10px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

.tm-content {
    // margin-bottom: 60px;
    margin-bottom: 40px;

    p {
        margin-bottom: 0px;
    }

    .heading {
        font-weight: 600;
        font-size: 30px;
        line-height: 38px;
        color: #101828;
        // margin-bottom: 20px;
        margin-bottom: 10px;
    }

    .body {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #475467;
    }

    @media(max-width:767.98px) {
        // margin-bottom: 48px;
        margin-bottom: 30px;

        .heading {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 9px;
        }

        .body {
            font-size: 14px;
            line-height: 22px;
        }
    }
}

#tm_advisor_name {
    text-transform: capitalize;
}

.tm-google-form {
    input[type=tel] {
        margin-top: 32px;
    }

    .tm-button {
        background: #00A465 !important;
        border-radius: 8px !important;
    }

    &.tm-form.style2 input {
        width: 100% !important;
    }

    form br {
        display: none;
    }

    .wpcf7-spinner {
        top: 15px;
    }

    .wpcf7 form .wpcf7-response-output {
        margin: -20px 0 20px;
    }

    .wpcf7-not-valid-tip {
        margin-top: 10px;
    }
}

.hidden {
    display: none !important;
}

.wpcf7-form {
    .form-wrap {
        max-width: 328px;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    input {
        height: 22.4px;
        background: #FFFFFF;
        border: 1px solid #D2D5D6;
        border-radius: 4px;
        outline: none !important;
        padding: 12px 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #121617;
        width: calc(100% - 33.6px);
        margin-bottom: 20px;
    }

    input[type="submit"] {
        width: 100%;
        height: 48px;
        margin-top: 10px;
        margin-bottom: 0px;
        max-width: 100%;
    }

    label {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #4D5556;
        text-align: left;
        float: left;
    }

    .wpcf7-spinner {
        top: calc(-12px - 24px);
        left: calc(50% - 38px);
    }

    .form-note {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #4D5556;
    }

    .wpcf7-not-valid-tip {
        position: relative;
        top: -16px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FF3B30;
    }

    .wpcf7-response-output {
        margin: 20px 0px !important;
    }
}