<!-- wp:template-part {"slug":"topbar","area":"header","className":"tm-topbar"} /-->

<!-- wp:template-part {"slug":"header","className":"tm-header"} /-->

<!-- wp:template-part {"slug":"title-banner-archive","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"breadcrumb","area":"uncategorized"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"40px","top":"0px"}}},"className":"tm-post-content","layout":{"type":"constrained"}} -->
<div class="wp-block-group tm-post-content" style="margin-top:0px;margin-bottom:40px"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"75%","className":"order-2 order-lg-1"} -->
<div class="wp-block-column order-2 order-lg-1" style="flex-basis:75%"><!-- wp:query {"queryId":13,"query":{"perPage":"8","pages":"0","offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":{"category":[18]}},"displayLayout":{"type":"flex","columns":3},"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template -->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"card-post","area":"uncategorized"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:shortcode -->
[tm_pagination]
<!-- /wp:shortcode --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%","className":"order-1 order-lg-2"} -->
<div class="wp-block-column order-1 order-lg-2" style="flex-basis:25%"><!-- wp:template-part {"slug":"sidebar","area":"uncategorized","className":"part-sidebar"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->