<!-- wp:template-part {"slug":"topbar","area":"header","className":"tm-topbar"} /-->

<!-- wp:template-part {"slug":"header","className":"tm-header"} /-->

<!-- wp:template-part {"slug":"title-banner-blogs","area":"uncategorized"} /-->

<!-- wp:group {"tagName":"section","layout":{"type":"constrained"}} -->
<section class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"full","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px","bottom":"10px"}}}} -->
<h2 class="wp-block-heading" style="margin-top:0px;margin-bottom:10px">Health</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0px","bottom":"30px"}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"fontSize":"turtlemint-child/large-1"} -->
<p class="has-turtlemint-child-large-1-font-size" style="margin-top:0px;margin-bottom:30px;font-style:normal;font-weight:500">We have decoded health insurance just for you</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":13,"query":{"perPage":"7","pages":"0","offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[199]}},"displayLayout":{"type":"flex","columns":4},"align":"full","className":"tm-slider post-slider-health","layout":{"type":"default"}} -->
<div class="wp-block-query alignfull tm-slider post-slider-health"><!-- wp:post-template -->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"card-post","area":"uncategorized"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:buttons {"align":"full","className":"tm-blog-read-more","layout":{"type":"flex","justifyContent":"center"},"style":{"spacing":{"margin":{"top":"0px"}}}} -->
<div class="wp-block-buttons alignfull tm-blog-read-more" style="margin-top:0px"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/category/health-insurance/">Read More</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","backgroundColor":"turtlemint-child/cultured","layout":{"type":"constrained"}} -->
<section class="wp-block-group has-turtlemint-child-cultured-background-color has-background"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"full","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px","bottom":"10px"}}}} -->
<h2 class="wp-block-heading" style="margin-top:0px;margin-bottom:10px">Life</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0px","bottom":"30px"}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"fontSize":"turtlemint-child/large-1"} -->
<p class="has-turtlemint-child-large-1-font-size" style="margin-top:0px;margin-bottom:30px;font-style:normal;font-weight:500">Know all about the right life insurance cover</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":13,"query":{"perPage":"7","pages":"0","offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[197]}},"displayLayout":{"type":"flex","columns":4},"align":"full","className":"tm-slider post-slider-life","layout":{"type":"default"}} -->
<div class="wp-block-query alignfull tm-slider post-slider-life"><!-- wp:post-template -->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"card-post","area":"uncategorized"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:buttons {"align":"full","className":"tm-blog-read-more","layout":{"type":"flex","justifyContent":"center"},"style":{"spacing":{"margin":{"top":"0px"}}}} -->
<div class="wp-block-buttons alignfull tm-blog-read-more" style="margin-top:0px"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/category/life-insurance/">Read More</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","layout":{"type":"constrained"}} -->
<section class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"full","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px","bottom":"10px"}}}} -->
<h2 class="wp-block-heading" style="margin-top:0px;margin-bottom:10px">General Insurance</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0px","bottom":"30px"}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"fontSize":"turtlemint-child/large-1"} -->
<p class="has-turtlemint-child-large-1-font-size" style="margin-top:0px;margin-bottom:30px;font-style:normal;font-weight:500">Get to know about various types of general insurance</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":13,"query":{"perPage":"7","pages":"0","offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[258]}},"displayLayout":{"type":"flex","columns":4},"align":"full","className":"tm-slider post-slider-bike","layout":{"type":"default"}} -->
<div class="wp-block-query alignfull tm-slider post-slider-bike"><!-- wp:post-template -->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"card-post","area":"uncategorized"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:buttons {"align":"full","className":"tm-blog-read-more","layout":{"type":"flex","justifyContent":"center"},"style":{"spacing":{"margin":{"top":"0px"}}}} -->
<div class="wp-block-buttons alignfull tm-blog-read-more" style="margin-top:0px"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/category/general-insurance/">Read More</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","backgroundColor":"turtlemint-child/cultured","layout":{"type":"constrained"}} -->
<section class="wp-block-group has-turtlemint-child-cultured-background-color has-background"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"full","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px","bottom":"10px"}}}} -->
<h2 class="wp-block-heading" style="margin-top:0px;margin-bottom:10px">Car</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0px","bottom":"30px"}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"fontSize":"turtlemint-child/large-1"} -->
<p class="has-turtlemint-child-large-1-font-size" style="margin-top:0px;margin-bottom:30px;font-style:normal;font-weight:500">Know everything about car insurance before buying</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":13,"query":{"perPage":"7","pages":"0","offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[203]}},"displayLayout":{"type":"flex","columns":4},"align":"full","className":"tm-slider post-slider-car","layout":{"type":"default"}} -->
<div class="wp-block-query alignfull tm-slider post-slider-car"><!-- wp:post-template -->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"card-post","area":"uncategorized"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:buttons {"align":"full","className":"tm-blog-read-more","layout":{"type":"flex","justifyContent":"center"},"style":{"spacing":{"margin":{"top":"0px"}}}} -->
<div class="wp-block-buttons alignfull tm-blog-read-more" style="margin-top:0px"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/category/car-insurance/">Read More</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","layout":{"type":"constrained"}} -->
<section class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"full","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px","bottom":"10px"}}}} -->
<h2 class="wp-block-heading" style="margin-top:0px;margin-bottom:10px">Bike</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0px","bottom":"30px"}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"fontSize":"turtlemint-child/large-1"} -->
<p class="has-turtlemint-child-large-1-font-size" style="margin-top:0px;margin-bottom:30px;font-style:normal;font-weight:500">Know how to protect your most prized possession</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":13,"query":{"perPage":"7","pages":"0","offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[202]}},"displayLayout":{"type":"flex","columns":4},"align":"full","className":"tm-slider post-slider-bike","layout":{"type":"default"}} -->
<div class="wp-block-query alignfull tm-slider post-slider-bike"><!-- wp:post-template -->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"card-post","area":"uncategorized"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:buttons {"align":"full","className":"tm-blog-read-more","layout":{"type":"flex","justifyContent":"center"},"style":{"spacing":{"margin":{"top":"0px"}}}} -->
<div class="wp-block-buttons alignfull tm-blog-read-more" style="margin-top:0px"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/category/two-wheeler-insurance/">Read More</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","backgroundColor":"turtlemint-child/cultured","layout":{"type":"constrained"}} -->
<section class="wp-block-group has-turtlemint-child-cultured-background-color has-background"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"full","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px","bottom":"10px"}}}} -->
<h2 class="wp-block-heading" style="margin-top:0px;margin-bottom:10px">Company updates</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0px","bottom":"30px"}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"fontSize":"turtlemint-child/large-1"} -->
<p class="has-turtlemint-child-large-1-font-size" style="margin-top:0px;margin-bottom:30px;font-style:normal;font-weight:500">We are growing! Be a part of our growth journey!</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":13,"query":{"perPage":"7","pages":"0","offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[320]}},"displayLayout":{"type":"flex","columns":4},"align":"full","className":"tm-slider post-slider-car","layout":{"type":"default"}} -->
<div class="wp-block-query alignfull tm-slider post-slider-car"><!-- wp:post-template -->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"card-post","area":"uncategorized"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:buttons {"align":"full","className":"tm-blog-read-more","layout":{"type":"flex","justifyContent":"center"},"style":{"spacing":{"margin":{"top":"0px"}}}} -->
<div class="wp-block-buttons alignfull tm-blog-read-more" style="margin-top:0px"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/category/company-updates/">Read More</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->