<!-- wp:template-part {"slug":"topbar","area":"header","className":"tm-topbar"} /-->

<!-- wp:template-part {"slug":"header","className":"tm-header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"0px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:0px"><!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"40px"}}},"backgroundColor":"turtlemint-child/tm-light-green","className":"tm-section-title-banner","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull tm-section-title-banner has-turtlemint-child-tm-light-green-background-color has-background" style="margin-top:0px;margin-bottom:40px"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"40px","top":"0px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:0px;padding-bottom:40px"><!-- wp:template-part {"slug":"breadcrumb","area":"uncategorized","align":"wide"} /-->

<!-- wp:post-title {"level":1,"align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"spacing":{"margin":{"bottom":"0px"}}},"fontSize":"turtlemint-child/x-large"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"40px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-bottom:40px"><!-- wp:post-content {"align":"wide"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->