<!-- wp:template-part {"slug":"topbar","area":"header","className":"tm-topbar"} /-->

<!-- wp:template-part {"slug":"header","className":"tm-header"} /-->

<!-- wp:template-part {"slug":"title-banner-e-tier","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"content-e-tier","area":"uncategorized"} /-->

<!-- wp:shortcode -->
[tm_partners classes="has-turtlemint-child-tm-light-green-background-color"]
<!-- /wp:shortcode -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->