.tm-post-content{
    & > .wp-block-columns {
        gap: 40px;
    }
    .wp-block-post-content{
        margin-top:0px;
    }
    .wp-block-post-featured-image {
        width: 100%;
        overflow: hidden;
    }
    @media(max-width:767.98px){
        .wp-block-post-featured-image {
            height: 185px !important;
            img{
                height: 185px !important;
            }
        }  
        & > .wp-block-columns {
            gap: 0px 15px;
        }
    }
    
    @media (max-width: 991.98px){
        & > .wp-block-columns {
           flex-direction: column;
        }
    }
}
.tm-post-meta {
    font-size: var(--wp--preset--font-size--turtlemint-child-small);
    gap: 0px !important;
    & > div{
       &:not(:last-child){
        position: relative;
        padding-right: 10px;
        &:after{
            content: '';
            height: 16px;
            width: 1.5px;
            background-color: var(--wp--preset--color--turtlemint-child-gray);
            display: block;
            position: absolute;
            top: calc(50% - 8px);
            right: 0px;
        }   
       }
       &:not(:first-child){
        padding-left: 10px;
       }
    }
}
.wp-block-query{
    .wp-block-post-template{
        @media(max-width:767.98px){
            row-gap: 40px !important;
        }
    }
}