.tm-blog-cta {
    @include media-breakpoint-down(md) {
        padding-bottom: 40px !important;
      }
    & p {
        @include media-breakpoint-down(md) {
            text-align: center;
            padding: 0px 20px;
          }
    }
    .wp-block-button {
        margin: 0 auto;
    }
}