.tm-insurance-plan {
  .tm-insurance-plan-slider {
    justify-content: center !important;
    flex-wrap: wrap !important;
    @include media-breakpoint-down(md) {
        margin: 20px !important;
        padding-bottom: 32px;
        margin-bottom: 0px !important;
    }
    .wp-block-column {
      margin: 10px;
      width: 27%;
      flex-wrap: wrap;
      flex-basis: unset !important;
      border: 2px solid transparent;
      margin: 8px; /* adjust as needed */

      &:hover {
        border-color: var(--wp--preset--color--turtlemint-child-green);
      }
      // @include media-breakpoint-down(md) {
      //     margin: 29px;
      //   }
      .wp-block-group {
        @include media-breakpoint-down(md) {
          height: 233px;
        }
        & img {
          height: 83px;
          width: 83px;
          @include media-breakpoint-down(md) {
            height: 53px;
            width: 53px;
          }
        }
      }
    }
  }
}
