.tm-video-player-thumbnail {
  height: 156px;
  overflow: hidden;
  width: 100%;
  border: 1px solid rgba(26, 24, 24, 0.1215686275);

  & img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: center;
  }
}

.video-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
  padding: 10px;
  vertical-align: middle;
  margin: 20px;
  border: 1px solid var(--wp--preset--color--turtlemint-child-cultured);
  padding: 10px;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--wp--preset--color--turtlemint-child-green);
  }

  .card-heading {
    line-height: 1.2;
    height: 57.59px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media-breakpoint-down(md) {
      height: 51.59px;
    }
  }

  .card-description {
    line-height: 1.2;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.8rem;
  }
}

.justify-card-center {
  justify-content: center;
  @include media-breakpoint-down(md){
    flex-direction: column;
    row-gap: 0 !important;
  }
}

@include media-breakpoint-down(md) {
  .col-width {
    margin: -45px auto !important;
    max-width: 250px;
  }
}

.modal-youtube {
  .modal-content {
    background-color: transparent;
    border: none;
  }

  @include media-breakpoint-down(md) {
    .modal-dialog {
      .modal-body {
        iframe {
          max-height: 35vh !important;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .modal-dialog {
      max-width: 70% !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}

.tm-know-type-of-insurance {
  .wp-block-columns {
    @include media-breakpoint-down(md) {
      padding-bottom: 20px;
    }
  }
}