.tm-filing-claim {
    background-image: url(../images/shape.svg);
    background-position: left bottom;
    background-repeat: no-repeat, no-repeat;
    height: 700px;
    background-size: cover;

    .wp-block-columns {
        @media(max-width: 768px) {
            flex-direction: column;
        }
        @media(min-width: 769px) {
            gap: 140px;
        }
        .wp-block-column:first-child {
            @media(max-width: 768px) {
                order: 2; /* Change the order of the first column */
            }
        }
        .wp-block-column:last-child {
            @media(max-width: 768px) {
                order: 1; /* Change the order of the second column */
                margin-top: 60px;
            }
            h1 {
                @media(max-width:768px) {
                    margin-left: 20px;
                }
            }
            p {
                @media(max-width:768px) {
                    margin-left: 20px;
                }
            }
            .wp-block-button {
                @media(max-width:768px) {
                    margin-left: 20px;
                }
            }
        }
        .wp-block-column {
            .wp-block-image {
                width: 542px;
                height: 565px;
                margin-top: 60px;
                @media(max-width: 768px) {
                    width: 235px;
                    height: 245px;
                }
            }
        }
    }
}

.tm-how-it-works {
    .wp-block-columns {
        .wp-block-column {
            margin-bottom: 60px;
            p {
                width: 40px;
                border-radius: 50px;
                margin-left: auto;
                margin-right: auto;
            }
            .card-description {
                width: 100%;
                height: 1px;
            }
        }
        // .wp-block-column:last-child {
        //     margin-bottom: 0;
        // }
    }
}

.tm-why-turtlemint {
    .wp-block-columns {
        @media(max-width: 768px) {
            margin-top: 80px;
        }
        .wp-block-column {
            @media(max-width: 768px) {
                padding-left: 20px;
                padding-right: 20px;
            }
            .wp-block-image {
                width: 142.5px;
                height: 142.5px;
                img {
                    width: 142.5px;
                    height: 142.5px;
                }
            }
        }
    }
    .wp-block-columns:nth-last-child(2) {
        @media(max-width: 768px) {
            .wp-block-column:first-child {
                order: 2;
            }
        }
    }
}