<!-- wp:template-part {"slug":"topbar","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"header","area":"header","className":"tm-header"} /-->

<!-- wp:template-part {"slug":"title-banner","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"content-single-post","tagName":"section","area":"uncategorized"} /-->

<!-- wp:group {"tagName":"section","backgroundColor":"turtlemint/tm-light-yellow","className":"spacing-medium mb-0","layout":{"type":"constrained"}} -->
<section class="wp-block-group spacing-medium mb-0 has-turtlemint-tm-light-yellow-background-color has-background"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"spacing":{"margin":{"bottom":"15px","top":"0px"}},"elements":{"link":{"color":{"text":"var:preset|color|turtlemint/black"}}}},"textColor":"turtlemint/black","className":"section-heading has-turtlemint-tm-x-large-font-size","fontSize":"turtlemint/large-1"} -->
    <p class="has-text-align-center section-heading has-turtlemint-tm-x-large-font-size has-turtlemint-black-color has-text-color has-link-color has-turtlemint-large-1-font-size" style="margin-top:0px;margin-bottom:15px;font-style:normal;font-weight:700">Related Blogs</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"0px"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide" style="margin-top:0px"><!-- wp:paragraph -->
    <p>[tm_related_posts post_type="post" order="DESC" sticky_posts="include" offset="0" posts_per_page="8"]</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></section>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->