.tm-topbar{
  text-align: center;
  //position: sticky;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 111px;
  transition: height 0.2s ease;
  z-index: 10000;
  &-app-download{
    opacity: 0;
    background: var(--wp--custom--tm-gradient-3);
    padding: 12px 20px;
    position: absolute;
    width: 100%;
    top: 0px;
    left: auto;
    right: auto;
  }
/*   &-app-download, .animation-pulsing{
    height: 100%;
  } */
  &.hidden {
    height: 0;
  }
  .downloads {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .tm-button{
    a{
      height: 100% !important;
      max-height: 100% !important;
      padding: 10px 10px;
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }
  .heading {
    display: grid;
    grid-template-columns: 23px 1fr 16px;
    gap: 6px;
    align-items: start;
    position: relative;
  }
  p {
    margin-bottom: 3px;
    font-weight: 500;
    color: var(--wp--preset--color--turtlemint-child-white);
    margin-right: 6px;
  }
  .topbar-close-button{
    display: flex;
    position: absolute;
    right: 0px;
    top: 4px;
  }
  @media(min-width:768px){
    display: none !important;
  }
/*   @media(max-width:767.98px){
    & + .tm-header {
      top: 111px;
      &.topbar-is-visible{
        .tm-hamburger-menu{
          top: -111px;
        }
      }
    }
  } */
}

footer{
  .tm-topbar{
    &-app-download{
      width: 100vw;
      position: initial;
      opacity: 1;
      .heading{
        grid-template-columns: 23px 1fr;
        p{
          margin-right: 0px;
        }
      }
      .topbar-close-button{
        display: none;
      }
    }
  }
}