.tm-section-get-a-quote {
  margin-top: 0px !important;
  margin-bottom: 20px !important;
  &__wraper {
    form {
      margin-bottom: 16px;
    }
  }
  &--outside-cta {
    margin-bottom: 0px !important;
    form {
        margin-bottom: 24px;
      .tm-field-group {
        .tm-field__cta {
          background: transparent;
          border-radius: 0px;
          border: none;
          padding: 0px;
          gap: 16px;
          grid-template-columns: 1fr auto;
          height: 56px;
          .tm-field__input {
            border: 1px solid
              var(--wp--preset--color--turtlemint-child-tm-gray-1);
            border-radius: 4px;
            height: calc(100% - 30px);
            border-radius: 0.5rem;
          }
          .tm-button {
            height: 100%;
            min-width: 169px;
            a {
              height: 100%;
            }
          }
        }
      }
    }
    @media (max-width: 767.98px) {
      form {
        margin-bottom: 16px;
        .tm-field-group {
          .tm-field__cta {
            grid-template-columns: 1fr 56px;
            gap: 0px;
            .tm-field__input {
              height: calc(100% - 22px);
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
            .tm-button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                min-width: auto;
              a {
                font-size: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
              }
            }
          }
        }
      }
    }
  }
}

.tm-ic-calculator{
  @media(max-width: 356.98px){
    form {
      .tm-field-group {
        .tm-field__cta {
          display: flex;
        }
      }
    }
  }
}