.get-a-quote-ctas {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;
    grid-gap: 20px 15px;
    margin-top: 0px !important;

    .tm-button {
        width: 100%;

        a {
            width: 100%;
        }
    }

    .get-a-quote-content {
        grid-area: 2;
    }

    .find-advisor-content {
        grid-area: 2/3;
    }

    @media (min-width: 1200px) {
        max-width: 89.845%;
    }
    @media (max-width: 767.98px){
        grid-gap: 16px 13px;
    }
}