.tm-section-select-insurance {
    &__wraper {
        .steps {
            .step {
                position: relative;

                &:not(:last-child) {
                    &:before {
                        content: '';
                        height: calc(100% - 29.6px);
                        width: 1px;
                        border-left: 1px dashed var(--wp--custom--tm-border-black);
                        display: inline-block;
                        top: 29.6px;
                        position: absolute;
                        left: 14.5px;
                        z-index: 0;
                    }
                }

                &__head {
                    display: grid;
                    grid-template-columns: 28px 1fr;
                    grid-gap: 16px;
                    margin-bottom: 17px;

                    .step-number {
                        font-size: var(--wp--preset--font-size--turtlemint-child-small);
                        font-weight: 700;
                        background: transparent;
                        border: 1px solid var(--wp--custom--tm-border-black);
                        width: 28px;
                        height: 28px;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .step-title {
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-weight: 600;
                        font-size: var(--wp--preset--font-size--turtlemint-child-large);
                    }
                }

                &__content {
                    margin-left: 46px;

                    .tm-radio-verticals {
                        list-style-type: none;
                        padding-left: 0px;
                        margin: 0px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 16px;
                    }
                }

                &.current {
                    .step__head {
                        .step-number {
                            background: var(--wp--preset--color--turtlemint-child-white);
                            border: 1px solid var(--wp--preset--color--turtlemint-child-primary);
                        }
                    }
                }

                &.complete {
                    .step__head {
                        .step-number {
                            font-size: 0px;
                            border-color: var(--wp--preset--color--turtlemint-child-primary);
                            background: var(--wp--preset--color--turtlemint-child-primary);

                            &:before {
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                }

                &:not(:last-child) {
                    padding-bottom: 20px;
                }
            }
        }
    }

    @media (min-width: 1200px) {
        &__wraper {
            .steps {
                &__content {
                    .tm-radio-verticals {
                        max-width: 84.18%;
                    }
                }
            }
        }
    }

    @media (max-width:991.98px) {
        &__wraper {
            .steps {
                .step {
                    &.complete {
                        .step__head {
                            .step-number {
                                &:before {
                                    background-position-y: -734.8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 767.98px) {
        &__wraper {
            .steps {
                .step {
                    &__head {
                        grid-gap: 8px;
                        grid-template-columns: 24px 1fr;

                        .step-number {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    &__content {
                        margin-left: 33px;

                        .tm-radio-verticas {
                            grid-gap: 12px;
                        }
                    }

                    &:not(:last-child) {
                        padding-bottom: 1em;

                        &:before {
                            content: '';
                            height: calc(100% - 25.6px);
                            top: 25.6px;
                            left: 11.8px;
                        }
                    }
                }

                .step-2 {
                    .step__content {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        &__wraper {
            max-width: 70%;
        }
    }
}

// Radio Button
.tm-radio-vertical {
    background: var(--wp--preset--color--turtlemint-child-white);
    border: 1px solid var(--wp--custom--tm-border-green);
    border-radius: 10px;
    padding: 16px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 20px;
    grid-gap: 10px;
    position: relative;

    input[type=radio] {
        display: none;
    }

    &.checked {
        .radio-button {
            border-color: var(--wp--preset--color--turtlemint-child-primary);
            background: var(--wp--preset--color--turtlemint-child-primary);
        }
    }

    label:not(.radio-button) {
        display: grid;
        align-items: center;
        grid-template-columns: 40px 1fr;
        grid-gap: 10px;
        cursor: pointer;

        &:before {
            width: 40px;
            height: 40px;
        }
    }

    .radio-button {
        position: absolute;
        right: 8px;
        top: 8px;
        height: 20px;
        width: 20px;
        background-color: var(--wp--preset--color--turtlemint-child-white);
        border: 1px solid var(--wp--custom--tm-border-black);
        border-radius: 100%;
        overflow: hidden;
        cursor: pointer;

        &:before {
            height: 100% !important;
            width: 100% !important;
            background-position-y: -669px;
            @media(max-width:991.98px){
                background-position-y: -636px;
            }
        }
    }

    &.checked {
        border-color: var(--wp--preset--color--turtlemint-child-primary);
        box-shadow: var(--wp--custom--tm-shadow-4);
    }

    @media (max-width: 767.98px) {
        padding: 14px 8px 14px 14px;
        grid-template-columns: 1fr 18px;

        label:not(.radio-button) {
            min-height: 36px;

            &:before {
                width: 36px;
                height: 36px;
                grid-gap: 8px;
            }
        }

        .radio-button {
            height: 18px;
            width: 18px;
        }
    }
}