.tm-insurance-companies {
  &-list {
    display: grid;
    grid-gap: 17px;
    grid-template-columns: repeat(2, 1fr);
  }

  .tm-insurance-company {
    &__placeholder {
      height: 100%;
      width: 100%;
      background-color: var(--wp--preset--color--turtlemint-child-tm-gray-1);
    }

    &__wrapper {
      border: 1px solid var(--wp--custom--tm-border-black);
      border-radius: 12px;
      overflow: hidden;
      background-color: var(--wp--preset--color--turtlemint-child-white);
    }

    &__logo {
      height: 66px;
      display: block;
      padding: 10px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  @media(min-width: 782px) {
    &:not(.tm-partners) {
      .tm-container {
        max-height: 480px;
        overflow-y: scroll;
      }
    }
  }

  @media (max-width: 767.98px) {
    &-list {
      gap: 16px;
    }
  }

  &--vertical {
    .tm-container {
      @media (min-width: 782px) {
        max-height: unset !important;
        overflow-y: auto !important;
      }
    }

    .viewMoreContainer {
      border-radius: 16px;
      padding-left: 16px;
      padding-right: 16px;

      .tm-insurance-company {
        padding-top: 14px;
        padding-bottom: 14px;
        border-top: 1px solid var(--wp--custom--tm-border-black-2);

        &__title {
          color: var(--wp--preset--color--turtlemint-child-tm-gray) !important;
          width: 100%;
          display: grid;
          grid-template-columns: 1fr auto;
          justify-content: space-between;
          align-items: center;
          grid-gap: 20px;
          text-decoration: none;
        }

        &:first-child {
          border-top: 0;
        }
      }
    }
  }
}