.settlement-ratios{
    margin-bottom: 16px;
}
.settlement-ratio{
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    color: var(--wp--preset--color--turtlemint-child-tm-gray);
    .settlement-ratio-value{
        font-weight: 700;
    }
    .settlement-ratio-title{
        font-weight: 500;
    }
    &.highlighted{
        .settlement-ratio-value{
            color: var(--wp--preset--color--turtlemint-child-black);
        }
    }
    @media(max-width:767.98px){
        padding: 16px 12px;
        gap: 12px;
        .settlement-ratio-title{
            font-size: var(--wp--preset--font-size--turtlemint-child-medium) !important;
        }
    }
}