.tm-ic-features, .tm-ic-exclusions {
  position: relative;
  &:before {
    z-index: 1;
    right: 40px;
    top: 24px;
  }
  &:after {
    content: "";
    display: block;
    height: 96px;
    max-width: 241px;
    width: 25%;
    background-color: var(--wp--preset--color--turtlemint-child-primary);
    opacity: 0.4;
    filter: blur(60px);
    position: absolute;
    right: 0;
    top: 0;
  }
  .tm-container__content {
    ul, ol {
      display: flex;
      flex-direction: column;
      gap: 16px;
      list-style-type: none;
      padding-left: 0px;
      &:first-child {
        margin-top: 0px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
      li {
        display: grid;
        grid-template-columns: 24px 1fr;
        gap: 12px;

        &:before {
          content: "";
          background-image: url(../images/sprite_set1.webp);
          display: inline-flex;
          width: 24px;
          height: 24px;
          background-position-y: -309.5px;
          background-position-x: -4px;
          background-size: calc(100% + 8px);
        }
      }
    }
  }
  @media (max-width: 767.98px) {
    &:before {
      position: initial;
      margin-bottom: 20px;
    }
    &:after {
      left: 0;
      z-index: -1;
    }
    .tm-container__content {
      ul, ol {
        gap: 16px;
        li {
          grid-template-columns: 20px 1fr;
          &:before {
            width: 20px;
            height: 20px;
            background-position-y: -271.5px;
          }
        }
      }
    }
  }
}

.tm-ic-exclusions{
  &:after{
    background-color: var(--wp--preset--color--turtlemint-child-red);
  }
  .tm-container__content{
    ul, ol{
      li{
        &:before{
          background-position-y: -337.5px;
        }
      }
    }
  }
  @media(max-width:767.98px){
    &:before{
      background-position-x: -27.5px;
      background-position-y: -259.5px;
      width: 70px;
      height: 80px;
    }
    .tm-container__content{
      ul, ol{
        li{
          &:before{
            background-position-y: -295.5px;

          }
        }
      }
    }
  }
}
