.tm-lead-unit-cta{
    position: relative;
    .section-heading, .section-subheading{
        max-width: 80%;
    }
    .section-subheading{
        margin-bottom: 10px;
    }
    .icons-list{
        margin-bottom: 30px;
    }
    .floating-img {
        position: absolute;
        top: -22px;
        right: -12px;
    }
    .tm-container > * {
        position: relative;
    }
    @media(max-width:767.98px){
        .section-subheading{
            margin-bottom: 16px;
        }
        .icons-list{
            margin-bottom: 24px;
        }
        .floating-img{
            height: 190px;
            width: auto;
            top: -16px;
            right: -7px;
        }
    }
}

.tm-form-popup{
    form input{
        box-sizing: initial !important;
    }
    .modal-lg {
       max-width: 686px;
    }
    .lead_unit_form_popup_columns{
        gap: 40px;
    }
    .modal-content{
        overflow: hidden;
    }
    .modal-body{
        background: var(--wp--custom--tm-gradient-5);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 385px;
    }
    .section-heading{
        margin-bottom: 12px !important;
    }
    #successSection, #formSection{
        width: 100%;
    }
    #formSection{
        .headingSection{
            margin-bottom: 36px;
        }
        .form-img{
            margin-top: -15px;
        }
        .form-img-block{
            &.top{
                margin-top: -15px !important;
            }
        }
    }
    #successSection{
        .form-img, .form-img-block{
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
    }
    @media(max-width:781.98px){
        .lead_unit_form_popup_columns{
            gap: 20px;
            .wp-block-column:first-child{
                width: 60%;
                flex-basis: 60% !important;
            }
        }
    }
    @media(max-width:767.98px){
        #successSection{
            .form-img, .form-img-block img{
                height: 180px;
                width: auto;
            }
        }
        .lead_unit_form_popup_columns{
            flex-direction: column;
            gap: 0px;
            .wp-block-column{
                max-width: 100% !important;
            }
            .wp-block-column:first-child{
                width: 100%;
                flex-basis: 100% !important;
            }
        }
        button[type="submit"]{
            margin-left: auto;
            margin-right: auto;
            margin-top: 28px;
        }
        #formSection{
            .headingSection{
                margin-bottom: 24px !important;
            }
        }
    }
}

.pum-theme-bullets{
    .tm-form-popup{
        .modal-body{
            background: var(--wp--custom--tm-gradient-6);
        }
        @media(max-width:767.98px){
            .modal-body{
                max-height: 70vh;
                overflow-y: scroll;
                align-items: flex-start;
            }
        }
    }
}

.pum-content + .pum-close, .pum-theme-turtlemint .pum-content + .pum-close{
    background-color: transparent !important;
    &:before{
        content: "" !important;
        display: inline-block;
        background-image: url(../images/sprite_set3.webp);
        background-position-x: -5px;
        background-position-y: -496.2px;
        background-size: calc(100% + 10px);
        width: 30px;
        height: 30px;
    }
}

.pum-container{
    .modal-dialog{
        max-width: 100%;
        margin: 0px;
    }
}

.icon-list-container {
    position: relative;
    @media(min-width:768px){
        padding-bottom: 35px;
        .popup-icon-list{
            .icon-group{
                position: relative;
                &:first-child{
                    left: -18px;
                }
                &:nth-child(2){
                    right: -26px;
                }
                &:nth-child(3){
                    left: -35px;
                }
            }
        }
    }
}

.popup-icon-list {
    margin: 0px !important;
    display: flex;
    flex-direction: column;
    .icon-group{
        display: flex;
        flex-wrap: nowrap;
    }
    @media(min-width:768px){
        gap: 10px !important;
        position: absolute;
        top: -38px;
        left: 208px;
        .icon-group{
            align-content: flex-end;
            border-radius: 100%;
            background: linear-gradient(180deg, var(--wp--preset--color--turtlemint-child-white) 0%, rgba(255, 255, 255, 0.00) 100%);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            height: 100px;
            width: 100px;
            justify-content: center;
            text-align: center;
            align-content: center !important;
            gap: 5px;
            flex-direction: column;
            padding: 0px 10px;
            &.medium{
                height: 120px;
                width: 120px;        
            }
        }
    }
    @media(max-width:767.98px){
        margin-bottom: 24px !important;
        align-content: flex-start !important;
        align-items: flex-start !important;
        gap: 8px !important;
        .icon-group{
            gap: 8px !important;
            p{
                font-size: var(--wp--preset--font-size--turtlemint-child-medium) !important;
            }
        }
        .section-subheading{
            margin-bottom: 24px;
        }
    }
}