.pac {
    &-container {
        border-radius: 4px;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10) !important;

        &::after {
            display: none;
        }
    }

    &-item {
        padding: 17px 14px;
        line-height: 1;
        font-size: 16px !important;
        font-family: var(--wp--preset--font-family--turtlemint-child-montserrat);
        cursor: pointer;
        border-top: 0;

        .pac-icon {
            display: none;
        }
    }
}

.cg-city-list {
    border-radius: 4px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10) !important;
    max-height: 350px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    background-color: var(--wp--preset--color--white);

    &-item {
        padding: 17px 14px;
        line-height: 1;
        font-size: 16px !important;
        font-family: var(--wp--preset--font-family--turtlemint-child-montserrat);
        cursor: pointer;
        border-top: 0;

        a {
            font-size: 13px;
            padding-right: 3px;
            color: var(--wp--preset--color--black);
        }

        &:hover {
            background-color: #fafafa;
        }
    }
}