.popular-cities-list {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, 1fr);

    .popular-city {
        cursor: pointer;
        display: flex;
        flex-direction: column;

        &-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            border-radius: 12px;
            margin-bottom: 12px;
        }

        img {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }

        &-title {
            margin-bottom: 0;
            text-align: center;
            color: var(--wp--preset--color--turtlemint-child-primary);

            @media (max-width: 480px) {
                font-size: 12px;
            }
        }
    }

    @media (max-width: 767.98px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 480px) {
        grid-gap: 16px;
    }
}

.city-list {
    border-radius: 4px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10) !important;
    max-height: 350px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    background: var(--wp--preset--color--turtlemint-child-white);
    border-radius: 4px;
    display: none;

    &-title {
        font-size: 16px;
        padding: 13px 12px;
        font-weight: 500;
        font-size: 20px;
    }

    .popular-city {
        padding: 12px 12px;
        line-height: 1;
        font-size: 16px !important;
        font-family: var(--wp--preset--font-family--turtlemint-child-montserrat);
        cursor: pointer;
        border-top: 0;
        display: block;
        color: var(--wp--preset--color--turtlemint-child-black);
    }
}