// Remove highlight
body{
  -webkit-tap-highlight-color: transparent;
  &.stop-scroll{
      position: fixed !important;
      width: 100%;
  }
}

.tm-style-1 {
  p:not(.tm-cta),
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0px;
  }
  section {
    .tm-accordion-body__wraper{
      font-weight: 500;
    }
    .tm-ic-download-app .tm-list.green-checklist li{
      font-weight: 600;
    }
  }
  table {
    thead {
      color: var(--wp--preset--color--turtlemint-child-black);
    }
  }
  .wp-block-table {
    overflow-x: auto;
  }
  .section-heading {
    margin-bottom: 24px !important;
    line-height: 32px !important;
    font-weight: 700 !important;
    &.medium-width {
      max-width: 60%;
    }
    @media (max-width: 767.98px) {
      margin-bottom: 8px !important;
      line-height: 30px !important;
      &.medium-width {
        max-width: 100%;
      }
    }
  }
  section {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    &.mb-0 {
      margin-bottom: 0px !important;
    }
    &.mt-0 {
      margin-top: 0px !important;
    }
    &.has-background{
      padding-top:24px;
      padding-bottom:24px;
      &.spacing-medium{
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
    @media (max-width: 767.98px) {
      margin-top: 24px !important;
      margin-bottom: 24px !important;
      &.has-background{
        &.spacing-medium{
          padding-top: 24px;
          padding-bottom: 24px;
        }
      }
    }
  }
  ul {
    padding-left: 30px;
    color: var(--wp--preset--color--turtlemint-child-tm-gray);
    li {
      &::marker {
        font-size: 12px;
      }
    }
  }
  .wp-block-post-content{
    h1{
      font-size: var(--wp--preset--font-size--turtlemint-child-tm-xx-large) !important;
    }
    h2{
      font-size: var(--wp--preset--font-size--turtlemint-child-tm-x-large) !important;
    }
    h3{
      font-size: var(--wp--preset--font-size--turtlemint-child-tm-large) !important;
    }
  }
  .tm-section-faq{
    margin-top: 0px;
  }
  .wp-block-post-content{
    p, h1, h2, h3, h4, h5, h6, figure, ul, ol{
      margin-bottom: 24px;
    }
    p:not(.has-turtlemint-child-large-1-font-size), ul, ol, span, table tbody, a:not(.wp-block-button__link){
      font-weight: 500;
      color: var(--wp--preset--color--turtlemint-child-tm-gray);
      h1, h2, h3, h4, h5, h6{
        color: var(--wp--preset--color--turtlemint-child-black);
      }
    }
    a:not(.wp-block-button__link):hover{
      color: var(--wp--preset--color--turtlemint-child-primary);
    }
    table thead tr th:nth-child(odd), .wp-block-table table thead tr th:nth-child(odd), table thead tr th:nth-child(even), .wp-block-table table thead tr th:nth-child(even){
      background-color: var(--wp--preset--color--turtlemint-child-white);
    }
  }
  .floating-banner-bg {
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      z-index: -1;
      margin: 0px !important;
      @media(max-width:767.98px){
        min-height: 415px !important;
      }
  }
}

body:not(.tm-style-1){
  .section-heading {
    margin-bottom: 24px !important;
    line-height: 32px !important;
    font-weight: 700 !important;
    &.medium-width {
      max-width: 60%;
    }
    @media (max-width: 767.98px) {
      margin-bottom: 8px !important;
      line-height: 30px !important;
      &.medium-width {
        max-width: 100%;
      }
    }
  }
}

// Blog page CTA
.tm-blog-read-more{
  margin-top: -59.75px !important;
  z-index: 1;
  position: relative;
}

// Line height
.has-turtlemint-child-tm-small-font-size {
  line-height: var(--wp--custom--line-height--medium);
}

// Loader circular animation
.tm-loader {
  display: none;
  &.dots {
    width: 40px;
    height: 19.2px;
    background: radial-gradient(circle closest-side, #009f69 90%, #0000) 0% 50%,
      radial-gradient(circle closest-side, #009f69 90%, #0000) 50% 50%,
      radial-gradient(circle closest-side, #009f69 90%, #0000) 100% 50%;
    background-size: calc(100% / 3) 9.6px;
    background-repeat: no-repeat;
    animation: dots-loader 1.2s infinite linear;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }
}

@keyframes dots-loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

// CTA Links
.cta-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  @media (max-width: 767.98px) {
    justify-content: center;
    flex-direction: column-reverse;
  }
}

.view-more-hidden {
  display: none !important;
}

.ic-two-column {
  &:first-child {
    section {
      &:first-child {
        margin-top: 0px !important;
      }
      &:last-child {
        margin-bottom: 0px !important;
      }
    }
  }
  @media (min-width: 782px) {
    .sticky-marketing-unit {
      position: sticky;
      top: 140px;
    }
  }
}

img[data-imgsrc] {
  opacity: 0;
  transition: opacity 0.2s ease;
  &.show-img {
    opacity: 1;
  }
}

// Truncate text
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p:empty {
  margin: 0px !important;
  height: 0px !important;
}

.wp-block-table{
  max-width: calc(100vw - 40px);
}

// Pulsing animation for skeletons/placeholders
.animation-pulsing{
  animation: pulsing 1s linear infinite alternate;
}

@keyframes pulsing {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0.3;
  }
}