// BOotstrap Configuration
@import "../../assets/bootstrap/functions";
@import "../../assets/bootstrap/variables";
@import "../../assets/bootstrap/maps";
@import "../../assets/bootstrap/mixins";
@import "../../assets/bootstrap/utilities";

// Bootstrap Layout & components
@import "../../assets/bootstrap/modal";

// Import Utility: Display
$utilities: (
  "display": (property: display,
    responsive: true,
    class: d,
    values: inline inline-block block grid table table-row table-cell flex inline-flex none),
  "order": (responsive: true,
    property: order,
    values: (first: -1,
      0: 0,
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
      last: 6,
    ),
  ),
  "margin-top": (responsive: true,
    property: margin-top,
    class: mt,
    values: map-merge($spacers, (auto: auto))),
  "margin-bottom": (responsive: true,
    property: margin-bottom,
    class: mb,
    values: map-merge($spacers, (auto: auto, 40: 2.5rem)),
  ),
  "justify-content": (responsive: true,
    property: justify-content,
    values: (start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      evenly: space-evenly,
    )),
  "align-items": (responsive: true,
    property: align-items,
    values: (start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    )),
  "text-align": (responsive: true,
    property: text-align,
    class: text,
    values: (start: left,
      end: right,
      center: center,
    )),
  "padding": (responsive: true,
    property: padding,
    class: p,
    values: $spacers ),
  "flex": (
    responsive: true,
    property: flex,
    values: (fill: 1 1 auto)
  ),
  "flex-direction": (
    responsive: true,
    property: flex-direction,
    class: flex,
    values: row column row-reverse column-reverse
  ),
);

// Required to run utility API
@import "../../assets/bootstrap/utilities/api";

// Transitions
@import "../../assets/bootstrap/transitions";


/* Base Styles - start */

//Layouts
@import "../scss/layouts";

// Buttons
@import "../../assets/scss/elements/buttons";

// Links
@import "../../assets/scss/elements/links";

// Ctas
@import "../../assets/scss/elements/ctas";

//List
@import "../../assets/scss/elements/list";

//Topbar
@import "../../assets/scss/shortcodes/app_download_topbar";

//Header
@import "../../assets/scss/parts/header";

// part - Breadcrumb
@import "../../assets/scss/parts/breadcrumb";

//Table
@import "../../assets/scss/elements/table";

//Form
@import "../../assets/scss/elements/form";

//Form
@import "../../assets/scss/elements/accordions";

// Shortcode - Social Profiles
@import "../../assets/scss/shortcodes/social-profiles";

// Separators
@import "../../assets/scss/elements/separators";

// Footer
@import "../../assets/scss/parts/footer";

// Modal
@import "../../assets/scss/elements/modal";

/* Base Styles - end */

// Containers
@import "../scss/elements/containers";

// Cards
@import "../scss/elements/cards";

// Insurer Banner
@import "../scss/shortcodes/insurer-banner";

// Insurer Highlights
@import "../scss/shortcodes/insurer-highlights";

// Secondary navbar
@import "../scss/shortcodes/secondary-navbar";

// Insurer Plans
@import "../scss/shortcodes/insurer-plans";

// Insurer Calculator
@import "../scss/shortcodes/insurer-calculator";

// Insurer Settlement Ratio
@import "../scss/shortcodes/insurer-claim-settlement";

// Insurer Form
@import "../scss/shortcodes/insurer-form";

// Insurer Latest Articles
@import "../scss/shortcodes/insurer-latest-articles";

// Insurer Companies
@import "../scss/shortcodes/insurer-companies";

//popular Cities
@import "../scss/shortcodes/popular-cities";

//place search
@import "../scss/shortcodes/places-search";

//Lead Unit
@import "../scss/shortcodes/lead-unit";