.tm-header {
    background-color: var(--wp--preset--color--turtlemint-child-white);
    box-shadow: var(--wp--custom--tm-shadow-1);
    position: sticky;
    top: 0px;
    z-index: 10000;
    min-height: 76.01px;

    .header__wraper {
        position: relative;

        .tm-hamburger-menu {
            grid-gap: 16px;

            &__main {
                gap: 0px;
            }

            .tm-menu-item {
                padding-left: 1rem;
                padding-right: 1rem;
                height: 76.01px;
                justify-content: center;

                .tm-megamenu {
                    display: none;
                    position: absolute;
                    top: 100%;
                    width: calc(100% + 40px) !important;
                    right: -20px;

                    .widget_block {
                        padding: 1.25rem;
                        box-shadow: var(--wp--custom--tm-shadow-2);
                        background: var(--wp--preset--color--turtlemint-child-white);

                        .wp-block-columns {
                            margin-bottom: 0px;
                        }

                        .widgettitle-dropdown {
                            font-size: var(--wp--preset--font-size--turtlemint-child-medium) !important;
                            font-weight: 500;
                            margin-bottom: 12px;
                            margin-top: 0px;
                            position: relative;
                        }

                        .menu {
                            margin-top: 0px;
                            margin-bottom: 0px;
                            padding-left: 0px;
                            list-style-type: none;

                            .menu-item {
                                a {
                                    font-weight: 400;
                                    padding: 4px 0px;
                                    font-size: var(--wp--preset--font-size--turtlemint-child-small) !important;
                                    color: var(--wp--preset--color--turtlemint-child-black) !important;

                                    &:hover {
                                        color: var(--wp--preset--color--turtlemint-child-primary) !important;
                                    }
                                }
                            }
                        }
                    }
                }

                &.has-megamenu {
                    .tm-link {
                        display: flex;
                        align-items: center;
                        grid-gap: 5px;

                        &:after {
                            height: 10px;
                            width: 12px;
                            transition: all 0.2s ease;
                        }
                    }
                }

                @include media-breakpoint-up(md) {
                    &:hover {
                        .tm-megamenu {
                            display: block;
                        }

                        .tm-link {
                            &::after {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }

        .tm-hamburger {
            .wp-block-button {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 32px;
                height: 26px;

                &:before {
                    position: absolute;
                    width: 22px;
                    height: 18px;
                }

                &__link {
                    font-size: 0px;
                    border-radius: 0px;
                    background-color: transparent !important;
                }
            }

            &-close {
                .wp-block-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 25px;
                    height: 25px;

                    &:before {
                        position: absolute;
                        width: 15px;
                        height: 15px;
                    }

                    &__link {
                        font-size: 0px;
                        border-radius: 0px;
                        background-color: transparent !important;
                    }
                }
            }
        }
    }

    &.topbar-is-visible{
        -webkit-transition: top .4s ease-in-out;
        transition: top .4s ease-in-out;
    }
    &.topbar-is-hidden{
        top:0px;
        -webkit-transition: top .3s ease-in-out;
        transition: top .3s ease-in-out;
    }

    @include media-breakpoint-down(md) {
        padding-top: 1.313rem;
        padding-bottom: 1.313rem;
        width: 100vw;
        min-height: 38.38px;

        .header__wraper {
            .wp-block-site-logo {
                img {
                    width: 165px;
                }
            }

            .tm-hamburger-menu {
                position: absolute;
                left: calc(-100% + -60px);
                right: 0;
                top: 0px;
                background-color: var(--wp--preset--color--turtlemint-child-white);
                width: calc(100% + 40px) !important;
                height: 100vh;
                overflow-y: scroll;
                padding: 15px 20px 0px;
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
                transition: left 0.3s ease-in-out;

                &.tm-slide-in {
                    left: -20px;
                    transition: left 0.3s ease-in-out;
                }

                &__head {
                    width: 100%;
                    justify-content: space-between;

                    .wp-block-site-logo {
                        img {
                            width: 128px;
                        }
                    }
                }

                &__top {
                    order: 2;
                    width: calc(100% + 20px);
                    margin-left: -10px;
                    gap: 5px;

                    .wp-block-buttons {
                        width: calc(100%/2);

                        .wp-block-button {
                            width: 100%;

                            &__link {
                                padding: 0.375rem 0.3rem;
                                width: 100%;
                                font-weight: 500;
                            }
                        }
                    }
                }

                &__main {
                    order: 3;
                    flex-direction: column;
                    align-items: flex-start;
                    width: calc(100% + 40px);
                    height: 100%;
                    margin-left: -20px;
                    margin-right: -20px;
                    position: relative;
                    left: 0;
                    transition: left 0.3s ease-in-out;

                    .tm-cta-menu {
                        border-bottom: 1px solid var(--wp--preset--color--turtlemint-child-gray);
                        display: grid;
                        align-items: center;
                        grid-gap: 10px;
                    }

                    .tm-menu-item {
                        &:first-child {
                            border-top: 1px solid var(--wp--preset--color--turtlemint-child-gray);
                        }
                    }

                    &.tm-slide-out {
                        left: calc(-100% - 40px);
                        transition: left 0.3s ease-in-out;
                    }
                }

                .tm-menu-item {
                    width: 100%;
                    padding: 0px;
                    height: auto;
                    border-bottom: 1px solid var(--wp--preset--color--turtlemint-child-gray);
                    padding: 15px 20px;

                    &.has-megamenu {
                        .tm-link {
                            width: 100%;
                            justify-content: space-between;

                            a {
                                font-size: var(--wp--preset--font-size--turtlemint-child-medium);
                                font-weight: 500;
                            }

                            &:after {
                                transform: rotate(-90deg);
                                height: 14px;
                                width: 14px;
                                background-position-y: -165px;
                                background-position-x: -6px;
                                background-size: calc(100% + 12px);
                            }
                        }
                    }

                    .tm-megamenu {
                        display: none;
                        right: 0;
                        top: 0px;
                        left: 100%;
                        width: 100% !important;
                        overflow-y: scroll;
                        height: calc(100% - 47px);
                        transition: all 0.3s ease-in-out;

                        &.tm-slide-in {
                            display: block;
                        }

                        .widget_block {
                            box-shadow: none;
                            padding: 0px;

                            .tm-cta {
                                &.bordered {
                                    border-bottom: 1px solid var(--wp--preset--color--turtlemint-child-gray);
                                    border-top: none;
                                    margin-top: 0px !important;
                                    grid-template-columns: 35px 1fr 30px;
                                    gap: 25px;
                                    min-height: 35px;

                                    &.bg-bike-1,
                                    &.bg-car-1,
                                    &.bg-life-1,
                                    &.bg-health-1,
                                    &.bg-advisor,
                                    &.bg-companies,
                                    &.bg-blogs {
                                        &:before {
                                            height: 35px;
                                            width: 35px;
                                            background-size: calc(100% + 12px);
                                            background-position-x: -6px;
                                            background-position-y: -1041px;
                                        }
                                    }

                                    &.bg-car-1 {
                                        &:before {
                                            background-position-y: -1208px;
                                        }
                                    }

                                    &.bg-life-1 {
                                        &:before {
                                            background-size: calc(100% + 16px);
                                            background-position-x: -8px;
                                            background-position-y: -1400.5px;
                                        }
                                    }

                                    &.bg-health-1 {
                                        &:before {
                                            background-size: calc(100% + 16px);
                                            background-position-x: -8px;
                                            background-position-y: -1356.5px;
                                        }
                                    }

                                    &.bg-advisor {
                                        &:before {
                                            background-size: calc(100% + 5px);
                                            background-position-x: -3px;
                                            background-position-y: -988.5px;
                                        }
                                    }

                                    &.bg-companies {
                                        &:before {
                                            background-position-y: -1081px;
                                        }
                                    }

                                    &.bg-blogs {
                                        &:before {
                                            background-size: calc(100% + 14px);
                                            background-position-x: -6.8px;
                                            background-position-y: -1169.5px;
                                        }
                                    }

                                    a {
                                        font-size: var(--wp--preset--font-size--turtlemint-child-medium) !important;
                                        font-weight: 500;

                                        &:after {
                                            height: 30px;
                                            width: 30px;
                                        }
                                    }
                                }

                                img {
                                    width: 35px !important;
                                    height: 35px;
                                    margin-right: 15px;
                                }
                            }

                            .wp-block-columns {
                                gap: 0px;

                                .wp-block-column {
                                    &:first-child {
                                        order: 1;
                                    }

                                    &:nth-child(2) {
                                        order: 3;
                                    }

                                    &:nth-child(3) {
                                        order: 4;
                                    }

                                    &:nth-child(4) {
                                        order: 2;
                                    }
                                }
                            }

                            .widgettitle-dropdown-wrap{
                                border-bottom: 1px solid var(--wp--preset--color--turtlemint-child-gray);
                                .widget_nav_menu{
                                    border-bottom: none;
                                }
                            }

                            .widgettitle-dropdown {
                                margin-bottom: 0px !important;
                                padding: 15px 20px;
                                min-height: 35px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                &:after {
                                    content: '';
                                    background-image: url(../images/sprite_set3.webp);
                                    height: 30px;
                                    width: 30px;
                                    display: block;
                                    background-size: calc(100% + 20px);
                                    background-position-y: -472.5px;
                                    background-position-x: -10px;
                                }

                                &.show-submenu {
                                    &:after {
                                        background-image: url(../images/sprite_set3.webp);
                                        height: 30px;
                                        width: 30px;
                                        display: block;
                                        background-size: calc(100% + 20px);
                                        background-position-y: -508px;
                                        background-position-x: -10px;
                                    }
                                }

                                &+div {
                                    display: none;

                                    .menu {
                                        padding-left: 20px;

                                        .menu-item {
                                            padding: 15px 10px;
                                            display: flex;
                                            align-items: center;
                                            border-top: 1px solid var(--wp--preset--color--turtlemint-child-gray);

                                            a {
                                                font-size: var(--wp--preset--font-size--turtlemint-child-medium) !important;
                                                font-weight: 500;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .tm-button-back {
                            width: 100%;
                            background: var(--wp--preset--color--turtlemint-child-black);
                            color: var(--wp--preset--color--turtlemint-child-white);
                            text-align: left;
                            border: none !important;
                            padding: 15px 20px 15px 50px;
                            font-family: var(--wp--preset--font-family--turtlemint-child-montserrat);
                            font-size: var(--wp--preset--font-size--turtlemint-child-medium);
                            display: flex;
                            align-items: center;
                            position: sticky;
                            top: 0px;
                            z-index: 1;

                            &:before {
                                height: 14px;
                                width: 20px;
                                background-position-y: -449.5px;
                                position: absolute;
                                left: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}