.tm-accordion {
  .tm-accordion-item {
    border-bottom: 1px solid var(--wp--custom--tm-border-black);

    .tm-accordion-header {
      margin: 0px !important;

      .tm-accordion-button {
        font-family: var(--wp--preset--font-family--turtlemint-child-montserrat);
        cursor: pointer;
        padding: 24px 0px;
        display: grid;
        grid-template-columns: 1fr auto;
        justify-content: space-between;
        grid-gap: 20px;
        width: 100%;
        border: none;
        background-color: transparent;
        font-size: var(--wp--preset--font-size--turtlemint-child-medium);
        font-weight: 500;
        text-align: left;

        &.collapsed {
          padding: 24px 0px;
        }

        &::after {
          margin-top: 5px;
        }
      }
    }

    .tm-accordion-body {
      &__wraper {
        padding: 0px 50px 24px 0px;
        color: var(--wp--preset--color--turtlemint-child-tm-gray);

        p {
          margin-top: 0px;

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  &-style2 {
    .tm-accordion-item {
      background-color: var(--wp--preset--color--turtlemint-child-white);
      border-radius: 12px;
      overflow: hidden;
      border: 1px solid var(--wp--custom--tm-border-black);

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      .tm-accordion-header {
        .tm-accordion-button {
          cursor: pointer;
          margin: 0px;
          padding: 30px 24px;
          border: none;
          width: 100%;
          display: grid;
          grid-template-columns: 1fr auto;
          justify-items: start;
          gap: 20px;
          background-color: transparent;
          text-align: left;

          &.collapsed {
            padding: 30px 24px;
          }

          &:after {
            margin-top: 5px;
            width: 14px;
            height: 9px;
            background-position-y: -141.5px;
          }
        }
      }

      .tm-accordion-collapse {
        .tm-accordion-body {
          &__wraper {
            padding: 0px 56px 30px 24px;
            color: var(--wp--preset--color--turtlemint-child-tm-gray);

            ul,
            ol {
              margin-top: 0px;

              &:last-child {
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .tm-accordion-item {
      .tm-accordion-header {
        .tm-accordion-button {
          padding-top: 16px;

          &.collapsed {
            padding: 16px 0px;
          }
        }
      }

      .tm-accordion-body {
        &__wraper {
          padding: 0px 0px 16px;
        }
      }
    }

    &-style2 {
      .tm-accordion-item {
        &:not(:last-child) {
          margin-bottom: 12px;
        }

        .tm-accordion-header {
          .tm-accordion-button {
            padding: 18px 16px 8px 16px;

            &.collapsed {
              padding: 18px 16px;
            }
          }
        }

        .tm-accordion-collapse {
          .tm-accordion-body {
            &__wraper {
              padding: 0px 16px 18px 16px;
            }
          }
        }
      }
    }
  }

  &#tmAccordion-states {
    .tm-accordion-item {
      border-bottom: 0;
      border-top: 1px solid var(--wp--custom--tm-border-black);

      .tm-accordion-body {
        &__wraper {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 8px;

          @include media-breakpoint-down(md) {
            grid-template-columns: 1fr 1fr;
          }
        }
      }

      &:first-child {
        border-top: 0;
      }

    }

    #no-results {
      .no-results-content {
        color: #4D5556;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 50px 0;
      }
    }
  }
}