.tm-button {
    outline: none !important;

    a {
        padding: 1.125rem 1.25rem;
        border-radius: 0.5rem;
        transition: background 0.2s ease, color 0.2s ease;
        border: none;
        cursor: pointer;
        line-height: inherit;
        font-size: var(--wp--preset--font-size--turtlemint-child-medium);
        font-family: var(--wp--preset--font-family--turtlemint-child-montserrat);
    }

    //secondary - yellow button
    &.secondary {
        a {
            background-color: var(--wp--preset--color--turtlemint-child-yellow);
            color: var(--wp--preset--color--turtlemint-child-dark);

            &:hover,
            &:active,
            &:focus {
                background-color: var(--wp--preset--color--turtlemint-child-yellow);
                color: var(--wp--preset--color--turtlemint-child-dark);
            }
        }
    }

    &.primary {
        a {
            background-color: var(--wp--preset--color--turtlemint-child-primary);
            color: var(--wp--preset--color--turtlemint-child-dark);

            &:hover,
            &:active,
            &:focus {
                background-color: var(--wp--preset--color--turtlemint-child-primary);
                color: var(--wp--preset--color--turtlemint-child-dark);
            }
        }
    }


    //bordered button with green hover
    &.bordered {
        border-radius: 4px;
        a {
            background-color: var(--wp--preset--color--turtlemint-child-white);
            color: var(--wp--preset--color--turtlemint-child-black);
            border: 1px solid;
            border-radius: 4px;
            border-color: var(--wp--preset--color--turtlemint-child-black);

            &:hover,
            &:active,
            &:focus {
                background-color: var(--wp--preset--color--turtlemint-child-green);
                color: var(--wp--preset--color--turtlemint-child-black) !important;
            }
        }

        &.green{
            a{
                border-color: var(--wp--preset--color--turtlemint-child-primary);
                color: var(--wp--preset--color--turtlemint-child-primary);
                
                &:hover,
                &:active,
                &:focus {
                    background-color: var(--wp--preset--color--turtlemint-child-green);
                    color: var(--wp--preset--color--turtlemint-child-black) !important;
                }
            }
        }
    }

    &.small {
        a {
            padding: 0.375rem 0.5rem;
            font-size: var(--wp--preset--font-size--turtlemint-child-small);
            font-weight: 400;

            &:hover,
            &:active,
            &:focus {
                font-weight: 400;
            }
        }
    }
}

button {
    &.tm-button {
        border: none;
        padding: 0px;
        border-radius: 0.5rem;
        overflow: hidden;
        display: inherit;
        outline: none !important;
    }
}