.tm-list {
  list-style-type: none;
  padding-left: 0;
  margin: 9% 0;

  li {
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    strong {
      font-size: 20px !important;
      @media (max-width: 767.98px) {
        font-size: 16px !important;
      }
    }
    &:before {
      width: 45px !important;
      height: 41px !important;
      position: absolute;
      left: 0px;
      top: 1px;
      @media (max-width: 767.98px) {
        width: 35px !important;
        height: 35px !important;
        background-position-y: -599.5px !important;
      }
    }
  }
  &.secondary {
    li {
      font-size: var(--wp--preset--font-size--turtlemint-child-large);
      margin-bottom: 14px;
      padding-left: 0px;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 32px 1fr;
      &:before {
        width: 32px !important;
        height: 32px !important;
        position: inherit;
        margin-right: 0px;
        margin-top: -3px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
      &.bg-checkmark-green {
        &:before {
          background-size: calc(100% + 31px);
          background-position-y: -1353.5px;
          background-position-x: -15.5px;
        }
      }
    }
  }
  &.green-checklist {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;
    padding-left: 0px;
    li {
      display: grid;
      grid-template-columns: 24px 1fr;
      gap: 12px;
      padding: 0px;
      margin: 0px;
      &:before {
        content: "";
        width: 24px !important;
        height: 24px !important;
        background-image: url(../images/sprite_set1.webp);
        display: inline-flex;
        background-position-y: -309.5px;
        background-position-x: -4px;
        background-size: calc(100% + 8px);
        position: inherit;
      }
    }
  }
  &.icons-list{
    padding: 0;
    margin: 0;
    li{
      display: grid;
      grid-template-columns: 45px 1fr;
      padding-left: 0px;
      align-items: center;
      gap:8px;
      margin-bottom: 8px;
      color: var(--wp--preset--color--turtlemint-child-black);
      font-weight: 600;
      &:last-child{
        margin-bottom: 0px;
      }
    }
  }
  @media (max-width: 767.98px) {
    &.secondary {
      li {
        grid-template-columns: 20px 1fr;
        &:before {
          width: 20px !important;
          height: 20px !important;
          margin-top: 2px;
        }
        &.bg-checkmark-green {
          &:before {
            background-size: calc(100% + 16px);
            background-position-y: -772.5px !important;
            background-position-x: -8px;
          }
        }
      }
    }
    &.green-checklist {
      li {
        &:before {
          width: 20px !important;
          height: 20px !important;
          background-position-y: -271.5px !important;
        }
      }
    }
  }
}

.steps-list {
  counter-reset: step-counter;
  list-style-type: none;
  padding-left: 0px;
  li {
    display: grid;
    grid-template-columns: 62px 1fr;
    gap: 5px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &::before {
      content: "Step " counter(step-counter) " :";
      counter-increment: step-counter;
      font-weight: 700;
      text-align: right;
    }
  }
}
